[2021-04-08 16:03] sangonzal commented on #370
Hi @JoshuaAtEriks, response_type=code is a required parameter for the OAuth2.0 authorization code flow. For more details about this flow, see this [documenation](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).

What would you like to set response_type to instead?

[2021-04-08 16:07] sangonzal commented on #339
Yes I believe that is the case.

[2021-04-08 16:55] JoshuaAtEriks commented on #370
hi @sangonzal ,
Thanks for your response .I do know it is a mandatory param, but i am seeing if it is possible to use other param values like 'id_token' instead of 'code' without extending AuthorizationRequestUrlParameters?
Thanks

[2021-04-08 17:03] sangonzal commented on #370
It is not currently possible. `AuthorizationRequestUrlParameter` is a precursor to AuthorizationCodeParameters, where an authorization code is required, so we decided to make this the mandatory value.

[2021-04-08 17:19] JoshuaAtEriks commented on #370
Thanks @sangonzal

[2021-04-08 17:19] #370 closed

[2021-04-12 21:42] sangonzal commented on #339
@moarychan Can you verify if the user you are using to test has consented to that scope before? You can go to the app registration on the portal, "API Permissions" tab, and click on "Enterprise application"
![EnterpriseApplications](https://user-images.githubusercontent.com/35743865/114466373-0676dd00-9bae-11eb-8081-b70d54619c59.PNG)
.

Here you can click on "User Consent" and see if the user has

[2021-04-14 20:47] Tim-Ford-Imprivata opened #371 "PublicClientApplication auth fails when username contains hash symbol (#)"
### Summary
I'm doing password authentication using the PublicClientApplication. I am finding that, if the UPN includes a hash symbol, authentication fails.

Here is a example of pseudo code showing the issue:
[code]

Here is the resulting stack trace:
[code]
### Interpretation
It looks like the UserDiscoveryRequest.execute() gets a response with a 400 statusCode and a null body. The null body the

[2021-04-15 21:49] sangonzal commented on #371
Hi @Tim-Ford-Imprivata I agree that there should be better error handling. I'll mark this issue as an enhancement and well make this change in one of the upcoming releases.

I also tried URL encoding the usernames but it doesn't seem to work. What does work is removing the hash symbol. For instance if I only have user  `test#user@test.onmicrosoft.com` in my tenant, and use `testuser@test.onmicroso

[2021-04-22 22:39] adrianorapussi opened #374 "Login via commons requires client secret"
I'm following some tutorials to embed a report from power bi and came across a sample code with this lib, after some time I got the following error in a reponse.

I'm guessing the endpoint has changed at some point, but the documentation hasn't

POST https://login.microsoftonline.com/common/oauth2/token

[code]

[2021-04-26 12:21] javate opened #375 "AcquireTokenSilently without Specifying Scopes"
I need to refresh the access token but I don't want to specify `scopes` in `SilentParameters`. I want to refresh it for all possible scopes which are founded in `TokenCache` object also.

So, can I reach scopes in the `TokenCache`? and then I can pass s `SilentParameters`. Or is there another way for this?

For example like below, It was passed `"User.Read"` however I don't want to specify any sco

[2021-04-26 21:16] Avery-Dunn commented on #375
Hello @javate : I don't believe there's an easy way to get the scopes for a given access token. The scopes are saved in the `target` field of access tokens in the token cache, but you'd need to parse the cache yourself to get that info.

Could you describe your use case a bit here? [Scopes](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#scopes-and-permis

[2021-04-26 21:28] javate commented on #375
Hi @Avery-Dunn
In my use case, I will expose an API like "getGainedScopes". This API gives me the gained scopes of the user until that time. So according to this info, I can understand which scopes are missing for my purpose than I can create an Authorize URL(pop up url) by using the missing scopes for satisfying all required scopes.

Also, I was try to

[2021-04-27 10:15] MikeBlink opened #380 "[Question] OBO flow and work queue interaction"
Hi, I'm implementing a flow and trying to address it without re-implementing parts of the MSAL library.

The situation is as follows, a client app is used to pre-authenticate an action by the user, then sends the validated token to the backend HTTP, which would then put a job on a queue to be picked up by a pool of workers for processing.

My original thinking was to use the OBO flow with the clie

[2021-04-27 18:38] sangonzal commented on #374
@adrianorapussi Can you link to the tutorial?

[2021-04-28 12:38] adrianorapussi commented on #374
Sure,

https://docs.microsoft.com/en-us/power-bi/developer/embedded/embed-sample-for-customers?tabs=java

[2021-04-28 15:13] sangonzal commented on #374
@adrianorapussi Did you follow the instructions, specifically step 8.10? The error message is saying that no client secret was included in the request to AAD. When you register the application on AAD, you can create a secret, and then you have to put in the config file of the tutorial's application.

If you did follow the instructions and are still having issues with their tutorial, you can open a

[2021-04-29 20:10] Avery-Dunn commented on #375
Just to be clear, you're trying to find what scopes a certain user's access tokens already have, so you can then authorize a user for only the scopes that they don't already have an access token for? If so, I don't believe that's a recommended way of doing token requests (or at least I haven't heard of someone doing that before), so there isn't really a good way to do that in our library. If you n

[2021-04-30 11:47] javate commented on #375
Thanks, I understand.
You said "it attempts to 'refresh' the cached access token using the scopes you sent in the silent request" then what would happen if I send blank scopes?

[2021-04-30 12:05] javate opened #381 "Example implementation for handling MsalThrottlingException"
How can I handle it when I catch it? I need an example implementation.
[code]
[![enter image description here][1]][1]
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-error-handling-java

There was a document about it also(you can see the screen shot in above link), but it doesn't give an example handling implementation. Could you give an example?

  [1]: https://i.stack.imgur.

[2021-04-30 19:51] v-zhangw opened #382 "MSAL Error: AADSTS9001023"
After moving from ADAL 1.6.6 to MSAL 1.91, an error was encountered when trying to connect to an Azure Data Explorer endpoint.

Error reads as follows:
AADSTS9001023: The grant type is not supported over the /common or /consumers endpoints. Please use the /organizations or tenant-specific endpoint.

Could I get some information on what this error means and how it could be resolved?

[2021-05-02 19:20] erikhakansson opened #383 "java.lang.ClassNotFoundException: Didn't find class "com.sun.net.httpserver.HttpHandler" in Android"
Hello!

I'm a bit unsure if this is the right place to open this issue, so please tell me if I'm barking up the wrong tree.

According to https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?tabs=Android, an `InteractiveBrowserCredential` should be used on Android to acquire a token for the Graph api.

Eventually that ends up in an instantiation of an `AuthorizationResponseH

[2021-05-03 18:35] Avery-Dunn commented on #381
Hello @javate : I don't think we have a specific example showing it being handled. That [MsalThrottlingException](https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/1c89680337d20eb90b721af0f77fa5422fb38790/src/main/java/com/microsoft/aad/msal4j/MsalThrottlingException.java#L17) object has a `retryInMs` field, which is based on the Retry-After field in the HTTP 429 response,

[2021-05-03 18:46] Avery-Dunn commented on #383
Hello @erikhakansson : Just to be clear, you're trying to create an Android application that acquires tokens from the Graph API, right? If so, what you actually want is [MSAL Android](https://github.com/AzureAD/microsoft-authentication-library-for-android), that's our library for Android applications. This repository is for [MSAL Java](https://docs.microsoft.com/en-us/azure/active-directory/develo

[2021-05-03 19:13] SomkaPe commented on #380
@MikeBlink  according to MSAL application model, refresh token is not supposed to be used directly, instead it is supposed to be used through "silent acquire token" API, which first check availability of valid access token in the cache and than try to use cached refresh token to get new access token.

[2021-05-03 19:17] SomkaPe commented on #382
@v-zhangw  Error suggests to use authority with "/organizations" or "/tenantId" suffix instead of "common"

[2021-05-03 19:17] erikhakansson commented on #383
Thank you @Avery-Dunn. You're absolutely right that I'm using the wrong library. It works much better when using the Android one, and especially following the documentation in that repo.

In my defense though, the documentation on the link in my first post (which is linked from https://github.com/microsoftgraph/msgraph-sdk-java) suggests that the same code should be used for both regular Java and

[2021-05-03 19:17] #383 closed

[2021-05-03 19:49] cosh commented on #382
+1

[2021-05-03 19:57] Avery-Dunn commented on #375
I wasn't sure about the behavior of sending blank scopes, and also couldn't find any documentation covering it. I did some testing and it seems like you're describing it correctly: I made a request with some scopes, then a request with blank scopes and got that first set returned, tried another request with a new scope, and then blank scopes again and got the original set plus that new scope.

I c

[2021-05-04 09:43] MikeBlink commented on #380
Hi @SomkaPe , could you advise if its at all possible to achieve a flow in which an OBO flow is prevalidated on the client, provided to the backend and then processed by a worker using MSAL? The concern is that, without being able to pass through the refresh token, there is no guarantee that the worker will be able to access the API by the time it gets to processing a given task.

The token genera

[2021-05-04 10:43] blacelle opened #384 "Unexpected many INFO logs in AcquireTokenByOnBehalfOfSupplier"
Our application reports many INFO logs due to:

https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/main/java/com/microsoft/aad/msal4j/AcquireTokenByOnBehalfOfSupplier.java#L24

We can configure this in our logging configuration, but it seems like an error in the configured error level.

[2021-05-04 19:48] #365 closed

[2021-05-05 19:43] Avery-Dunn commented on #308
Released in version 1.10: https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/379

[2021-05-05 19:43] #308 closed

[2021-05-05 19:44] #309 closed

[2021-05-05 20:03] Avery-Dunn commented on #318
Hello @ihudedi : Sorry for the long delay, but in case you were still looking for this the latest release, version 1.10, has the fix for this issue. If you have any related issues or questions, feel free to re-open this thread or leave a comment.

[2021-05-05 20:03] #318 closed

[2021-05-06 19:02] sangonzal commented on #384
@blacelle I think INFO can be considered appropriate here, but can also see how it would case too much noise in someone's logs. We will consider moving down to either DEBUG or TRACE.

[2021-05-06 19:05] #302 closed

[2021-05-06 19:09] blacelle commented on #384
If INFO is considered appropriate here,I would expect more INFO logs in other components, typically ones being more transverse. I use msal4j with INFO logs by default, but I see only logs from this class, which looks awkward to me

[2021-05-06 19:21] sangonzal commented on #384
@blacelle Thats fair, I agree that this is inconsistent with logging in other parts of the library (which is almost nonexistant). I was hoping to start adding new logging in with new changes, but they should probably all go in at once to keep the consistency throughout.

[2021-05-06 20:26] Avery-Dunn commented on #284
This is now demonstrated in the Java servlet samples: https://github.com/Azure-Samples/ms-identity-java-servlet-webapp-authentication/tree/main/3-Authorization-II/roles

[2021-05-06 20:26] #284 closed

[2021-05-07 17:39] javate opened #386 "How to use claims in acquireToken and acquireTokenSilently methods?"
I am working on Authorization Code Flow. So, basically I use three main `Parameters` class:

- `AuthorizationRequestUrlParameters`: For generating popup url.
- `AuthorizationCodeParameters`: For acquireToken method
- `SilentParameters`: For acquireTokenSilently method

I implement general feature. However I have some questions about `claims`.

I saw that `claims` is passed as `claimsChallange` whe

[2021-05-12 00:24] Avery-Dunn commented on #386
Hello @javate : All claims that you set as part of a request ultimately get merged together, however there are two main situations where you would need to use them:
 - Claims challenge: when making a request, the token service may return a [claims challenge](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-conditional-access-dev-guide#complying-with-a-conditional-access-policy) d

[2021-05-17 13:51] Mark-Palmer-Imprivata opened #389 "PublicClientApplication.acquireToken with UsernamePasswordParameters has high latency"
Latency for authenticating a user with their password is pretty high.  In our tests we have seen times of 350ms to 800ms or more.  Our use case is to always verify the users password with Azure AD - we are not using the MSAL4j cache (after successful authentication, we remove the user account from the cache), and we are not doing any "acquire silently" calls.

Investigation into what MSAL4j does r

[2021-05-18 08:46] marcgise opened #390 "CORS problems"
I'm facing some CORS problems that I can't solve. My app structure is the following:
**Client**: It's an SPA deployed behind an Apache HTTPD server. The URL is something like that:
`https://localhost/client/index.html`
**Server**: It's deployed behind an Apache Tomcat, and configured in the HTTPD as Proxy. The URL of the server is something like that:
`https://localhost/server` (`server` is config

[2021-05-18 11:34] marcgise commented on #390
Finally I found the error.
The problem is that in the client page I was using jQuery to make the request to the server. So I need to manage the redirections manually.
I changed the code to use a simple form with a button of "submit" type, and leave the own browser to manage the redirection.
Now it works fine ;)

The only problem now, is that when I click on logout, it logs me out from all the webs

[2021-05-18 16:14] Avery-Dunn commented on #389
Hello @Mark-Palmer-Imprivata : The calls to that URL are to grab some account information for the user, mainly for info on whether the account is federated or managed since we need to handle them differently. We'll discuss adding an option to skip this step if you know a given user is/isn't federated, and I'll update this thread once that happens.

If you don't mind saying, why do you not use the

[2021-05-18 16:45] Mark-Palmer-Imprivata commented on #389
This would be very useful to skip any HTTP calls with aren't related to OAuth 2.0 ROPC - we are only making this call to authenticate the user with their password.  There is no need to know whether the user is Federated or not.

For our use case, we always need to freshly verify the users password.  In this case, the latency definitely appears to be on the Microsoft server side.  Are there any oth

[2021-05-18 19:31] SomkaPe commented on #390
@marcgise when you log in with AAD your browser might store session cookie, so when you try to  log in using same account it will be used. The point of invoking logout endpoint is to invalidate it. If application during logout just invalidate its own session without invalidation AAD session The logout from application effectively does not happen, because if you log in again AAD session cookie will

[2021-05-18 19:41] SomkaPe commented on #389
@Mark-Palmer-Imprivata  steps 1 and 2 are necessary to support federated accounts. Do you need to support them?

[2021-05-18 21:02] #374 closed

[2021-05-18 21:06] sangonzal commented on #339
Closing issue as I never heard back. Feel free to reopen if you continue having issues.

[2021-05-18 21:06] #339 closed

[2021-05-19 12:32] tjlee opened #391 "Linux: "Unable to open default system browser" using ActiveDirectoryInteractive authentication"
When user tries to authenticate using ActiveDirectoryInteractive in DataGrip, IDE immediately jumps back without opening a browser window and provides the message `"The specified database user/password combination is rejected: Failed to authenticate the user alowed in Active Directory (Authentication=ActiveDirectoryInteractive)."`

It looks like OS specific since it works on other Linux machines i

[2021-05-19 12:32] tjlee commented on #391
Full driver error log:
[code]

[2021-05-20 06:10] SomkaPe commented on #391
@tjlee it does  not look like MSAL4J SDK problem, please provide MSAL4J specific log

[2021-05-20 12:03] tjlee commented on #391
@SomkaPe how to enable MSAL4J extended logging?

[2021-05-20 12:17] javate commented on #386
@Avery-Dunn thanks.
In my case, my reqistered application work as a multitenant application. So, the users that will give consent to my application will be in different tenants and they need to be global admin of their tenants, just for your info.

I will not set any claims in my application or my tenant. So the custom claims option does not applicable for my case, right?

For claims challange opt

[2021-05-20 15:25] sangonzal commented on #391
@tjlee The [SQL server JDBC connector](https://github.com/microsoft/mssql-jdbc) repository might be a better place for this issue.

[2021-05-20 19:02] g2vinay opened #393 "[FEATURE-REQUEST] Add ability to provide authority as a parameter when calling acquire Token"
Hi,

### Feature Requested:
We're looking to pass in authority URL and tenant to the MSAL clients as parameters to acquire token calls to both Confidential and Public Clients.
Currently, the authority URL gets locked in when the Confidential and Public Clients are constructed and cannot be changed without constructing another instance of the MSAL clients.

It would simplify things if the user coul

[2021-05-24 08:09] #391 closed

[2021-05-24 12:24] bgavrilMS commented on #393
Algorithm for resolving authority in MSAL .NET is encapsulated [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/fac5d52f802de1c523c734b349a8e39c7d65a9f3/src/client/Microsoft.Identity.Client/Instance/Authority.cs#L49)

[2021-05-24 13:02] juliahayward opened #394 "Trivy scan shows critical vulnerability CVE-2021-27568"
We have had a user report a critical vulnerability in Flyway and this appears to be a transitive dependency of msal4j:1.10.0 . For full details see https://github.com/flyway/flyway/issues/3178 . Can you update the version of json-smart that you pull in please?

[2021-05-24 16:38] Avery-Dunn commented on #386
@javate : Yeah, if you aren't setting any custom claims in your application/tenant in Azure then you shouldn't need to worry about setting them in your app (most are for some pretty specific info, and most people won't ever need to deal with them).

As for knowing what the claims challenge will be, you may be able to know in advance based on what Azure features are used by the application/tenant.

[2021-05-24 16:38] Avery-Dunn commented on #375
Closing due to inactivity. If you have any questions or related issues, feel free to leave a comment or re-open this thread.

[2021-05-24 16:38] #375 closed

[2021-05-24 16:38] Avery-Dunn commented on #381
Closing due to inactivity. If you have any questions or related issues, feel free to leave a comment or re-open this thread.

[2021-05-24 16:38] #381 closed

[2021-05-24 16:48] Avery-Dunn commented on #394
Hello @juliahayward : Thanks for bringing this to our attention. We'll look into this issue and get it fixed, and I'll update this thread once I know when it'll be released (most likely the end of this week/next week).

[2021-05-25 15:46] Mark-Palmer-Imprivata commented on #389
@Avery-Dunn I noticed that this has been categorized as a question, when this is really an enhancement request to improve performance.

[2021-05-25 15:49] Mark-Palmer-Imprivata opened #395 "What can be used for "username" when using PublicClientApplication/UserNamePasswordParameters?"
Examples only seem to show the userPrincipalName(UPN) value being used along with the generic /organizations URL.

Can other values be used to authenticate a user?  For example:  samAccountName, or onPremisesUserPrincipalName?  Using a value which does not include a domain would obviously require the usage of a tenanted endpoint for the authority.

There does not seem to be much documentation or g

[2021-05-25 18:34] v-zhangw commented on #382
Hello,
The issue turned out to be due to the migration from ADAL to MSAL causing /common to be no longer acceptable for the customer's endpoint.

[2021-05-25 18:34] #382 closed

[2021-05-25 19:14] SomkaPe commented on #389
@Mark-Palmer-Imprivata
"This would be very useful to skip any HTTP calls with aren't related to OAuth 2.0 ROPC - we are only making this call to authenticate the user with their password. There is no need to know whether the user is Federated or not."
- There is a need to know whether user is federated or not, for federated users SAML based authorization grant is used.
- For both types of users OA

[2021-05-25 19:48] Mark-Palmer-Imprivata commented on #389
Our use case is strictly verifying the users password - we have no need of any other functionality.  Hence the request to allow disabling the Federated checks.

[2021-05-26 17:35] Avery-Dunn commented on #389
@Mark-Palmer-Imprivata : Just to be clear, you're only using the library to verify user's credentials? Not using tokens, not accessing any Azure resources, etc.? If so, that's not really a use case our library is meant to cover, and even if we fix this specific issue it'll never be as performative as something more dedicated.

However, I believe that [any OpenID Connect provider](https://docs.micr

[2021-05-26 18:09] Avery-Dunn commented on #395
Hello @Mark-Palmer-Imprivata : What sort of values were you hoping to use? I believe UPN is the recommended option, and I haven't seen anything else used for the username/password flow or documentation covering anything else.

However, according to [this page](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-use-email-signin) it seems like there is a way

[2021-05-26 18:44] Mark-Palmer-Imprivata commented on #395
This question was to try to understand what is possible - I suspected UPN was the main use case, and I think I remember seeing something about email address previously (but, I also recall seeing that UPN is typically the same as the users email address).

This question came about from a use case related to Azure AD Connect:
1. User is synced from local AD to Azure AD.
2. Users UPN in local AD cont

[2021-05-26 18:55] Mark-Palmer-Imprivata commented on #389
Correct - for users, we only need to verify the username/password.  At the moment, we discard the returned accessToken.
We also use the ConfidentialClientApplication for obtaining an accessToken so that our service can use Microsoft Graph to read information from Azure AD.

Being able to use the same library for both operations has value.

I don't believe the ROPC flow described by the library (or

[2021-05-27 14:10] #384 closed

[2021-05-27 14:49] sangonzal commented on #371
Opened up [bug](https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1412351) on service team. Link is only accessible by Microsoft employee, but putting here anyways for future reference.

[2021-06-01 12:06] RPerles opened #398 "How to initilize a Graph Client (from the graph-java-sdk) in the OBO scenario ?"
Hello.

I have a hard time to figure out how to initialize a GraphServiceClient object in the OBO scenario.

I have implemented the MSAL4J library with the OBO scenario and everything is working well, but I don't find how to create an OnBehalfOf provider in order to get the graph client in the way it is intended by the graph sdk
 https://github.com/microsoftgraph/msgraph-sdk-java#23-get-a-graphser

[2021-06-01 14:57] sangonzal commented on #398
Hi @RPerles - take a look at [OboAuthProvider](https://github.com/Azure-Samples/ms-identity-java-webapi/blob/update-sample/msal-obo-sample/src/main/java/com/microsoft/azure/msalobosample/OboAuthProvider.java) in the Java Web API sample.

[2021-06-01 15:21] RPerles commented on #398
Thanks a lot @sangonzal !

That's definitely what was missing to make it work, sorry for the inconvenience I didn't see this branch and therefore the file, so I think I'm good to go with that !

Again thank you for your quick response and support !

[2021-06-01 21:47] navyasric commented on #306
@Avery-Dunn Can this issue be closed since the feature is done?

[2021-06-02 14:33] RPerles commented on #398
Thanks a lot @sangonzal !

That's definitely what was missing to make it work, sorry for the inconvenience I didn't see this branch and therefore the file, so I think I'm good to go with that !

Again thank you for your quick response and support !

[2021-06-02 14:33] #398 closed

[2021-06-02 18:11] javate commented on #386
@Avery-Dunn Thanks.

For claims challange, I understood that it is resource specific. Could you give an example what is a resource? For example is `https://graph.microsoft.com` a resource? If yes, I think,`https://graph.microsoft.com` does not require a claims challange since I don't give any claimsChallange parameter and I can get successfully the `AuthenticationResult` object for some Graph API

[2021-06-02 18:21] javate opened #399 "When is a refresh token expire?"
Hi, I know that access token expire time is exposed in `AuthenticationResult` object as expiresOnDate field.

Refresh tokens can be expired too. I know that if a refresh token expired, than the acquireTokenSilently method will throw an exception.
To prevent the getting exception, I don't want to call the acquireTokenSilently for an expired Refresh Token. So, I need the refresh token expire time. H

[2021-06-02 18:23] #399 closed

[2021-06-02 18:25] javate opened #400 "When is a refresh token expire?"
Hi, I know that access token expire time is exposed in `AuthenticationResult` object as `expiresOnDate` field.

Refresh tokens can be expired too. I know that if a refresh token expired, than the `acquireTokenSilently` method will throw an exception.
To avoid this failure case, I don't want to call the `acquireTokenSilently` for an expired Refresh Token. So, I need the refresh token expire time.

[2021-06-02 22:24] #363 closed

[2021-06-03 20:30] Avery-Dunn commented on #400
Hello @javate : I don't think there's a way to know if a refresh token is expired before the library tries to use it (a high-level design goal of the library is for a dev to worry about refreshing tokens as little as possible),

The recommended pattern for any `acquireTokenSilently` call is basically to just try the silent call, and if it fails for any reason then try another flow.

Some token lif

[2021-06-03 20:57] Avery-Dunn commented on #386
@javate : I can't remember where I heard this description, but a resource is basically just something that receives an access token, such as a web API. I'm not sure if `https://graph.microsoft.com` itself is considered a resource, but [other endpoints](https://docs.microsoft.com/en-us/graph/overview#popular-api-requests) on that basic URL like `https://graph.microsoft.com/v1.0/users` or `https://g

[2021-06-04 13:11] javate commented on #386
@Avery-Dunn thanks. Could you please give me an example resourece that requires claims? I want to test it.

[2021-06-04 17:10] Avery-Dunn commented on #386
@javate : The document you linked is more correct, claims challenges will come from the resource/API when you try to use an access token, rather than when you request an access token (since the token service wouldn't know if the token request won't actually work).

I don't know off the top of my head of any common resource that requires claims, and can't find any docs with a list of them for publi

[2021-06-04 20:04] javate commented on #386
@Avery-Dunn Thanks a lot.
However this [document](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-error-handling-java#conditional-access-and-claims-challenges) says different from the last one I shared above. It is said that "When getting tokens silently, your application may receive errors when a Conditional Access claims challenge such as MFA policy is required by an API you

[2021-06-04 21:34] Avery-Dunn commented on #390
Closing due to inactivity. If you have any questions or related issues, feel free to leave a comment or re-open this thread.

[2021-06-04 21:34] #390 closed

[2021-06-04 21:45] Avery-Dunn commented on #389
@Mark-Palmer-Imprivata : Sorry for the delayed response, but I just wanted to update you on our discussions on this: we currently don't have any plan/timeline for implementing a way for devs to control how the library handles federated vs. non-federated users.

However, we may make this change if/when we have some more use cases where this would be needed or add more optional functionality that on

[2021-06-04 22:01] Avery-Dunn commented on #395
@Mark-Palmer-Imprivata : As I said, our library just sends the requests to token servers, APIs, etc., so it what characters/formats are supported would depend entirely on what's supported server-side. I'm not entirely sure what Azure AD supports since I haven't dealt syncing local AD/Azure AD much myself (and also couldn't find much documentation on it), but what you've experienced makes sense for

[2021-06-09 10:48] rgra commented on #301
I'm running into this problem as well during a Tycho build, and the possible workarounds don't seem feasible to me.

If you can consider removing the dependency, it would be great.

[2021-06-09 17:06] bpossolo opened #402 "AADB2C90085 internal error + Missing Correlation ID"
Just started getting this error when trying to authenticate via msal4j.
My application is using com.microsoft.azure:msal4j:1.8.0
I tried upgrading to msal 1.9.0 to see if it fixes the problem however no difference.
I can't upgrade to 1.9.1+ yet since it introduces breaking changes in the nimbus-jose library.

The error indicates to please reauthenticate and try again however that does not solve th

[2021-06-09 21:35] Mark-Palmer-Imprivata opened #403 "How to execute PublicClientApplication.acquireToken() synchronously?"
We have a desire to make this call run in the callers thread - we want it to be a blocking call.  No matter what I try, this call always seems to execute in another thread - in the log4j logs, the thread only appears as "Thread -8".  I'm not sure where this thread is coming from.

Is there a way to make this call explicitly run within the calling thread?

[2021-06-10 07:07] bpossolo commented on #402
Turns out the ActiveDirectory B2C confidential Client Secret had expired...

<img width="890" alt="Screen Shot 2021-06-10 at 12 03 04 AM" src="https://user-images.githubusercontent.com/984705/121480100-8f787d80-c97f-11eb-815d-e77da2648846.png">

It would be really helpful if the MSAL sdk returned a useful error message or code for this specific scenario.
I went on a wild goose chase trying to figu

[2021-06-10 07:07] #402 closed

[2021-06-10 15:05] sangonzal commented on #402
@bpossolo Agreed - there's not much we can do on MSAL side, as we just expose the error message returned by the B2C service, but Ill pass on this feedback to their team.

[2021-06-10 20:29] Mark-Palmer-Imprivata commented on #403
That will still have MSAL4j use another thread for making the request.

[2021-06-10 21:37] sangonzal commented on #403
@Mark-Palmer-Imprivata If you want to block the calling thread on the execution if the MSAL thread, you can just call .get() on the future returned from MSAL. `result = pca.acquireToken(parameters).get();`

[2021-06-10 21:45] Avery-Dunn commented on #386
@javate : I think that document is saying that if you try to get a token silently, you may get a claims challenge when the silent call tries to refresh the token if the new tokens wouldn't have the right access level. Basically, a silent call that refreshes tokens can fail for all the same reason as any other flow, since refreshing tokens just means getting a new set of tokens that have the same p

[2021-06-11 10:27] Mark-Palmer-Imprivata commented on #403
We are currently doing that.  The point is that we want to prevent MSAL from using a new thread, but I can't prevent it from happening.

[2021-06-11 15:45] sangonzal commented on #403
@Mark-Palmer-Imprivata It seems that you'll have to implement your own custom executor service, and pass that into MSAL. A quick google search returns this [thread](https://stackoverflow.com/questions/6581188/is-there-an-executorservice-that-uses-the-current-thread), which provides possible ways of doing this.

[2021-06-12 11:58] javate opened #404 "How to use extraScopesToConsent when creating AuthorizationRequestUrlParameters?"
When do we need this `extraScopesToConsent` parameter? It can be passed like below when creating `AuthorizationRequestUrlParameters` object.

[code]

I think if I need some scopes that they belong different audiences/resources, I can use it. Am I right?

However when I check the source code of this `AuthorizationRequestUrlParameters`. It simply merged the`scopes` and `extraScopesToConsent` like be

[2021-06-14 11:30] Mark-Palmer-Imprivata commented on #403
Thank you - this was helpful.

[2021-06-14 16:31] #403 closed

[2021-06-14 17:55] sangonzal commented on #404
@javate You're understanding is correct, extraScopesToConsent is used for acquiring tokens for a separate resource. The parameters are merged together, but you'll notice that they are placed in a specific order. This is an implementation detail that users shouldn't have to be concerned with - therefore there is a separate parameter.

If you want to get a token for the second resource, you'll have

[2021-06-15 17:35] Avery-Dunn commented on #400
Closing due to inactivity. If you have any other related questions or issues, feel free to leave a comment or re-open.

[2021-06-15 17:35] Avery-Dunn commented on #395
Closing due to inactivity. If you have any other related questions or issues, feel free to leave a comment or re-open.

[2021-06-15 17:35] #395 closed

[2021-06-15 17:35] #400 closed

[2021-06-17 00:27] Avery-Dunn commented on #394
Hello @juliahayward : Sorry for the long delay, but we've just released a new version of our library (1.10.1) which has the fix for this issue. It should be available on Maven within the next hour or two.

[2021-06-17 08:29] juliahayward commented on #394
Great, thankyou!

[2021-06-17 15:47] #394 closed

[2021-06-18 15:51] #404 closed

[2021-06-18 15:54] Avery-Dunn commented on #386
Closing due to inactivity. If you have any more questions or issues, feel free to leave a comment or re-open.

[2021-06-18 15:54] #386 closed

[2021-06-21 21:15] SomkaPe commented on #380
@MikeBlink  according to OIDC RT is not supposed to be used as Access Token, so the answer is no.
But I guess it is possible to configure OBO service to receive RT with longer life time, so it can run long lasting jobs.

[2021-06-22 04:59] jianghaolu commented on #393
Any updates on this feature work?

[2021-06-22 19:46] javate opened #407 "'openid profile offline_access' is not valid error when calling acquireToken method with code"
I am using Authorization Code Flow. I want to get consent for two different audiences/resources in one login popup.
So, I know that it is needed for `acquireToken` for first audience and then `acquireTokenSilently` for second audience.

However I got below error when calling `acquireToken` method:

I remember that I didn't get this error when I tried this scenario last week.

I am using below URL

[2021-06-22 20:21] sangonzal commented on #407
@javate what are the scopes that you are passing into the acquire token call? Also, you said this was working last week, and now it's not - were there any changes to your code in the mean time?

[2021-06-22 20:27] javate commented on #407
@sangonzal `acquireToken` call doesn't accept the `scopes`. I gave it the `code` and the `redirectUri`.

[code]
I remember that I didn't make a code change which can cause this problem from last week.

[2021-06-22 20:49] sangonzal commented on #407
@javate You can pass in a scope to the authorization code parameters builder this way:

`AuthorizationCodeParameters.builder(authCode, new URI(redirectUri)).scopes(Collections.singleton("https://graph.microsoft.com/User.ReadWrite.All")).build();`

If you pass in the graph scope here, does that change anything?

[2021-06-22 20:53] javate commented on #407
@sangonzal I have never use `scopes` for `acquireToken` method. However until last week it is worked. Actually, I don't want to use `scopes`. and I wonder why this error started to occurred.

[2021-06-22 22:20] sangonzal commented on #407
@javate This is not a workaround, this is the right pattern for acquiring a token to multiple resources at once. The sample is indeed different, but that's because it's a different scenario - it doesn't show acquiring tokens for multiple resources.

I just tried this scenario and can confirm that what I am suggesting works:
- Build `AuthorizationRequestUrlParameters` with both scopes, and consent

[2021-06-24 12:09] sagneta opened #408 "PublicClientApplication always uses the IClientApplicationBase.DEFAULT_AUTHORITY"
The PublicClientApplication always uses the IClientApplicationBase.DEFAULT_AUTHORITY in all cases. There is no way to replace it with another URL such as a tenant-aware authority URL. My guess is you will want to extend the PUblicClientApplication.builder to accept a non-default authority URL. Probably need to allow this to be overridden. Whatever you think is best. Regardless ignoring tenant-spec

[2021-06-24 12:45] #408 closed

[2021-06-24 13:05] sagneta commented on #408
My bad. I misread the code.

[2021-06-25 17:22] sangonzal commented on #407
Closing as I never heard back. Feel free to reopen if you are still facing issues.

[2021-06-25 17:22] #407 closed

[2021-07-06 17:03] 701chang opened #411 "SSO with no client secret/client certificate"
I'm working on a Java web application, trying to implement SSO, and the request is to implement SSO with no client secret and no client certificate. At first I tool reference from this msal-web-sample(https://github.com/AzureAD/microsoft-authentication-library-for-java/tree/e6a10f415d1683d1fee2c1847e4de8043b6cad6e/src/samples/msal-web-sample), and realized the ConfidentialClientApplication require

[2021-07-06 17:38] sangonzal commented on #411
@701chang Why do you want to avoid using a client secret/ certificate?

If you are updating you client code from ConfidentialClientApplication to PublicClientApplication, I believve you'll also need to update your application type on the Azure application registration portal.

[2021-07-06 17:43] 701chang commented on #411
Thanks for replying! It's strongly asked by the customer, they told that none of their other applications uses client secret/certificate, so they don't want us to implement with one. I did not see too much documents saying whether this is supported, but they insist on it.

With what you responded, it sounds like as a Java web application, I shouldn't use PublicClientApplication and should only use

[2021-07-06 18:58] sangonzal commented on #411
If it's a web application, the right way to acquire tokens is via ConfidentialClientApplication, but this will require using either a client secret/certificate ([More info](https://datatracker.ietf.org/doc/html/rfc6749#section-2.1) about client types and client authentication from the OAuth2.0 spec).

If you want to proceed with not using a client secret/ certificate, although not recommended, you

[2021-07-06 19:37] 701chang commented on #411
I will see if the customer can configure this way and see if this works. Thanks for the quick response!

[2021-07-08 05:15] hemant7737 opened #413 "Not getting access token"
Configured MSAL4J in my Java App to authenticate AD B2C user and acquiring token using auth code flow. Authentication works fine but not getting access token in the response.

Using Confidential client applications and acquire tokens by authorization code after letting the user sign-in through the authorization request URL.

Getting below error.

[code]
Would like to pay thanks in advance for any

[2021-07-08 13:48] anilkumarhgowda opened #414 "Unable to Integrate msal4j api : NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes"
Hi Team,

**We are trying to integrate MSAL4J APIs with our Application to implement the https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-app-configuration?tabs=aspnetcore#client-secrets-or-client-certificates authorization mechanism,  but we are facing jar conflict issues with our existing key-vault jar. Below is the error log. Kindly help us in resolving

[2021-07-08 15:05] sangonzal commented on #413
Hi @hemant7737, did you visit the link included in the error message? (https://aka.ms/msal4j-b2c-known-issues)

You'll have to include your application id as one of the scopes. The issue and the workaround are explained in the link that is shared in the error message.

[2021-07-08 20:19] Avery-Dunn commented on #414
Hello @anilkumarhgowda : I noticed in your error log this line:
`Caused by: java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes
at com.microsoft.aad.adal4j.AdalTokenRequest.toOAuthRequest(AdalTokenRequest.java:157) ~[adal4j-1.6.0.jar:1.6.0]`

It looks like you're using an old version of [ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-java/tree/1.6.7)

[2021-07-09 07:51] anilkumarhgowda commented on #414
Hi Team,

I appreciate your quick response, we are trying integrate **https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-java-webapp** sample with our application.

I have added below two dependency as suggested in the above sample link.
 <dependency>
	<groupId>com.microsoft.azure</groupId>
	<artifactId>msal4j</artifactId>
	<version>1.6.1</version>
 </dependency>
<depend

[2021-07-09 18:25] sangonzal opened #415 "AcquireTokenSilently with empty scope causes AT cache miss"
Acquiring a token via any flow with an empty scope ("") will populate the token cache with an access token with scopes "openid offline_access profile", as those are the default scopes that are always included in every request.

When acquiring token silently afterwards with the same account and scope as the initial request, it is expected that the cached AT is returned as longs as it has not expire

[2021-07-12 15:11] Avery-Dunn commented on #414
@anilkumarhgowda : Ah, I think I understand the issue now. That error message you posted in still showing that 'adal4j-1.6.0' is what's throwing the error, despite you using MSAL. This is because the version of 'azure-keyvault-secrets-spring-boot-starter' you're using, [2.1.2](https://mvnrepository.com/artifact/com.microsoft.azure/azure-keyvault-secrets-spring-boot-starter/2.1.2), uses ADAL as a d

[2021-07-12 15:34] #413 closed

[2021-07-12 19:38] hemant7737 commented on #413
Hi @sangonzal ,

Have tried with the approach that you mentioned but still no difference.
Although I have downloaded the sample provide on the repository. Could you please help me with any reference where it is working fine?

[2021-07-12 19:55] sangonzal commented on #413
@hemant7737 There is no sample showing this. It should be as simple as just passing in your ClientId to the scope parameter. For example, something along the lines of:

[code]

If this is still not working for you, could you please share your code and a fiddler trace? Instructions on how to do this: https://github.com/AzureAD/microsoft-authentication-library-for-java/wiki/Fiddler

[2021-07-12 21:35] g2vinay commented on #393
@Avery-Dunn
when are we planning to release this feature?
I notice the associated PR #412 is approved.

[2021-07-14 07:33] javieu opened #418 "Threads collisions found under high concurrency"
Hello. This is basically a question since we lack the required information to open a real issue, but we want to share some events that we have experienced under production conditions.

We have basically included Azure ADFS login features using the library (1.10.0, we have not upgraded to 1.10.1), including in our application basically the approach found in the msal-java-webapp sample application t

[2021-07-15 15:37] sangonzal commented on #418
Hi @javieu, could you share logs showing this issue? You can send them to sagonzal [at] microsoft.com

[2021-07-16 14:16] sangonzal commented on #393
@g2vinay @jianghaolu This was released in v1.11.0.

[2021-07-16 14:16] #393 closed

[2021-07-16 14:16] #411 closed

[2021-07-19 07:54] hemant7737 opened #421 "JWT claims are not getting updated after token refresh using MSAL4J with B2C webapp"

[2021-07-19 08:04] hemant7737 commented on #421
Using custom policy(B2C) for signup or sing in with azure.
While Sing In, In the custom flow we get some data via REST API and update the response in jwt claims.
After successfully sign in when we invoke below MSAL4J library method to refresh the token the above flow does not execute and we did not get updated data. It just update the "iat","exp" claims of the JWT.

Below is the code for getting r

[2021-07-19 19:04] Avery-Dunn commented on #414
Closing due to inactivity. If you're still having issues or have any related questions, feel free to reopen this thread.

[2021-07-19 19:04] #414 closed

[2021-07-19 19:05] Avery-Dunn commented on #380
Closing due to inactivity. If you're still having issues or have any related questions, feel free to reopen this thread.

[2021-07-19 19:05] #380 closed

[2021-07-19 19:05] #306 closed

[2021-07-19 20:26] Avery-Dunn commented on #421
Hello @hemant7737 : Just to be clear, how exactly are you trying to refresh the token? The code you posted seems to be from one of our samples but with `forceRefresh(true)` added, and you're just calling it whenever you want to force a token to refresh, right?

As for your question, what claims are you expecting to be different after a refresh? You say you're using a custom policy during sign up/s

[2021-07-20 01:45] hemant7737 commented on #421
Hi @Avery-Dunn : Thanks you for the replying.

I have tried with updating the user's profile(given_name) at azure portal and then tried to refresh the token with my Java app after 1-2 minute. In Java app it did not reflect the updated "given_name".
Even I have tried both option with ``` forceRefresh(true) ``` and without but still it did not work.

Adding some snapshot for your reference:

**Updat

[2021-07-21 21:20] Avery-Dunn commented on #421
@hemant7737 : So you get a token for a user, then manually change that user's name in Azure, and then refresh the token, right? If so, I'm able to occasionally replicate this issue if I try to refresh after 1-2 minutes, but for me the name is always updated after waiting more than 3-5 minutes.

Many changes in Azure aren't immediately available, so does this still happen if you wait longer? At lea

[2021-07-22 09:17] hemant7737 commented on #421
Hi @Avery-Dunn

After successfully logged in I waited for 10-15 minutes and then tried to refresh, Still did not get the expected result.
I again waited for 1 Hour approximately  but this time it redirected me to login page and asked to login again with username and password.

[2021-07-22 16:33] Avery-Dunn commented on #421
@hemant7737 : You said you were using B2C, right? I haven't done much with B2C so I don't know for sure, but maybe the name info is coming from somewhere other than Azure. Does this behavior happen with other claims, or just the name? If you change the email address, add/remove that user from groups or roles, or something else like that, does this behavior still happen?

Also, does this only happe

[2021-07-22 17:55] sangonzal opened #423 "Updates to regional support"
According to email from Bogdan -

1.	On the public cloud, the regional authority was “region.login.microsoft.com”. However, due to DNS issues, we must go back to “microsoftonline.com”. The authority will be “region.r.login.microsoftonline.com”.
2.	On sovereign, the rule remains “region.sovereign_authority” but try to use the preferred authority value, as hardcoded in MSAL (i.e. don’t do instance d

[2021-07-22 23:09] cheenamalhotra commented on #382
This issue should be reopened.

The same works with MSAL.NET. If .NET can provide access token, why not Java?
Also Interactive authentication modes work fine - only username/password fails with "/common".

Also reported to Azure SDK for Java: https://github.com/Azure/azure-sdk-for-java/issues/23146 as Azure Idenitity's UsernamePasswordCredential is also impacted.

[2021-07-23 00:38] sangonzal commented on #382
Hi @cheenamalhotra can you point me to anywhere that shows this being supported in MSAL.NET?

As far as I know, this AAD service behavior, regardless of the client that you use. If you take a look at the [MSAL.NET wiki page](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Username-Password-Authentication#authority-implications) on UsernamePassword flow, you'll see that

[2021-07-23 01:15] cheenamalhotra commented on #382
@sangonzal

I retested and I think I might have confused with AAD Interactive/MFA for the same user I tested AAD Password Authentication with, as MFA Authentication works in this case. I can confirm I reproduce same error with MSAL.NET.

Sorry for the confusion :(

The thing is we don't own these endpoints, it comes from Azure Data Explorer, we don't modify and pass on as-is to MSAL. Would you rec

[2021-07-23 06:27] hemant7737 commented on #421
Hi @Avery-Dunn : Could you please help or assign the person who is dealing with such issues or has experience with B2C?

As I don't want to logout and relogging again as per our scenario. Want to go through the silent flow/refreshing.

[2021-07-26 15:56] sangonzal commented on #382
Chatted on teams, @cheenamalhotra has an email thread with the Azure Data Explorer team, where we will continue this conversation.

[2021-07-26 19:38] Avery-Dunn commented on #421
@hemant7737 : I've had a chance to test some things with a B2C account and I have some more ideas on what might be going on.

As I said before, the name might be coming from somewhere else than the Azure user. Is the user you're testing with a personal Microsoft account (like @outlook.com, or a company/school domain, or something), or is it user created in Azure (i.e., @yourtenant.onmicrosoft.com)

[2021-07-27 19:11] #415 closed

[2021-07-28 20:57] SomkaPe opened #424 "Client assertion should be recreated if authority is overridden on API level"
Client assertion is initialized when client application object is created.
if Authority is overridden client assertion created during client application initialization should not be used,
instead new one should be created and used for this particular API call.

[2021-07-29 05:58] hemant7737 commented on #421
@Avery-Dunn : We have made account as B2C user.. B2C users can sign in using an email address or a unique username.
As I mentioned earlier we are using the custom policy flow for sign up and sing in the user.
When we logged in using MSAL4J with my Java web app that is similar to the provided sample. If  We change anything related to the user profile at Azure portal and tried to refresh token using

[2021-07-29 09:24] maltalex opened #425 "Expose IdToken"
Would it be possible to make `com.microsoft.aad.msal4j.IdToken` public and have `com.microsoft.aad.msal4j.IAuthenticationResult` be able to return a **parsed** token object?

The code already exists in `AuthenticationResult`, but isn't exposed, creating unnecessary work.

[2021-07-29 22:56] nickgmicrosoft commented on #421
@JasSuri  can you take a look

[2021-07-30 09:03] JasSuri commented on #421
`AcquireTokenSilent()` with `forceRefresh(true)`, will force the MSAL.js library to acquire a new access token using the refresh token, even if the current access token is valid. Under the hood, MSAL.js performs the following [refresh token grant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#refresh-the-token).

The behavior described here in this issue is expected. A

[2021-07-30 21:00] SomkaPe commented on #425
Hi @maltalex, ITenantProfile from IAuthenticationResult contains all claims from idToken in the form of key-value pairs,  do you consider exposed IdToken (contains only standard claims) easier to use compared to all claims in ITenantProfile?

[2021-07-31 07:25] maltalex commented on #425
Hi @SomkaPe

I haven't realized that `ITenantProfile` contains the fields from the `id_token`. Thanks!

But I think that somewhat highlights the problem - keeping the `id_token` values in a generic map makes the API less discoverable.

I think it would be more convenient to expose an object so developers will be able to explore the API in the IDE rather than looking up the documentation at every s

[2021-08-02 15:58] sangonzal commented on #418
Closing since I never heard back. Feel free to reopen if you have any other questions.

[2021-08-02 15:58] #418 closed

[2021-08-03 14:03] TomislavSmvc opened #426 "Is it possible to refresh a exipred OBO token"
I am using the OBO workflow as explained [here](https://github.com/Azure-Samples/ms-identity-java-webapi).

Now, i wish to save a OBO token for future user-less use.
The token are allready being cashed and they are ready for use even if no user is present.

The problem is that those tokens expire after an hour.
So i added the necessary scopes and permissions to get a refresh token.
But the token n

[2021-08-03 21:13] sangonzal commented on #426
@TomislavSmvc the first time you get the IAuthenticationResult from the first acquireToken call should contain an account object. If you store this account object, and use it in the acquireTokenSilently call, are you able to refresh the token?

[2021-08-03 21:14] TomislavSmvc commented on #426
I will check it out tomorow

[2021-08-04 09:27] TomislavSmvc commented on #426
@sangonzal
[code]

When i debug it with InteliJ, i says this:
![Screenshot_260](https://user-images.githubusercontent.com/24734080/128156350-b4137342-229c-4d1a-832d-3ebda5c19c17.png)

But even if i could cache the account, when i check the code, it still looks to me like it would not reach the "execute refresh" part of the code because it would ffail at the expiration check.

I made a workaround w

[2021-08-05 19:36] g2vinay opened #428 "Msal4j uses variable range of net.minidev:json-smart that causes dependency resolution issues."
Hello,

The Msal4j utlizies net.minidev:json-smart:[1.3.3,2.4.7] dependency via oauth2-oidc-sdk:9.7 as a variable range.
This tends to cause dependency resolution issues in users application.

This dependency should be pinned to its latest version in the Msal library or at Oauth2-Oidc-sdk..

[2021-08-05 20:56] joshfree commented on #428
related https://github.com/Azure/azure-sdk-for-java/issues/23373, https://github.com/Azure/azure-sdk-for-java/issues/22807, and https://github.com/Azure/azure-sdk-for-java/issues/14907 (all same customer)

[2021-08-06 20:47] sangonzal commented on #428
@g2vinay @joshfree I have opened an issue on oauth2-oidc-sdk:9.7 asking if they can pin net.minidev:json-smart to a specific version: https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/370/variable-range-of-netminidev-json-smart

If this is not something that can be done in oauth2-oidc-sdk, then well look at doing in MSAL.

[2021-08-06 21:24] joshfree commented on #428
Thanks @sangonzal, we appreciate it

[2021-08-10 06:59] danilowitsch opened #429 "Authority validation differ between app building and parameter"
If you create a publc application and add the authority url: https://login.microsoftonline.com/<my-tenant-id> without a trailing slash the api will add the missing slash.

If you create an SilentParamater instance for a SilentRequest you are also able to add the authorityUrl. In this case the url will not check for a missing trailing slash and the parsing within the SilentRequest constructor fails

[2021-08-10 18:42] anabih opened #430 "Possibly incorrect JWT token generated when using "Client Credential Certificate""
Hi all,

I am trying to use msal4j to create a v2.0 JWT token using "Client Credential Certificate" using this sample code:

https://github.com/Azure-Samples/ms-identity-java-daemon/tree/master/msal-client-credential-certificate

This sample code itself works, but I can see it using access JWT token v1.0, and I couldn't get it to switch to version 2.0 even if I accessTokenAcceptedVersion to 2 on t

[2021-08-10 21:21] Avery-Dunn commented on #429
@danilowitsch : Thanks for bringing this to our attention. I'm able to reproduce it and it definitely seems like a bug, so we should have a fix for that trailing slash problem in our next release.

[2021-08-11 01:30] SomkaPe commented on #430
Hi @anabih,
MSAL SDK is not supposed to be used to create tokens, it is supposed to be used to request tokens from Identity Provider.
"aud" means an audience for requested tokens, so client id
"iss" means the authority that issued tokens
 "sub" is resource owner id (user id) on behalf of which application will access some resources
Please provide a more detailed description of your MSAL usage scen

[2021-08-11 03:53] anabih commented on #430
Thanks @SomkaPe for your help !!

Your response is consistent with the documentation of JWT v2.0, so it makes sense.

However, the fact that iss and sub have different values is creating error:
"AADSTS50048: Subject must match the issuer claim in the client assertion.".
How to get around that? What am I missing?

The other issue is "kid", why it is not getting set to base64 encoding of the thumbpr

[2021-08-11 08:47] danilowitsch commented on #429
Nice.

[2021-08-11 08:48] danilowitsch commented on #429
Sorry, my intention was only to comment this.

[2021-08-12 18:02] sangonzal opened #432 "Align OBO behavior with MSAL.NET"
- [Internal design doc](https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview?path=%2FConfidentialClient%2FOBO.md&_a=preview)
- [Separate proposal for long running web API processes](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2733)

[2021-08-12 18:38] sangonzal commented on #426
@TomislavSmvc You get a null account after the first time that you call OBO?

Unfortunately at the moment this is the only way to have a long running process that uses the refresh token in OBO (by passing in an account). We plan on making changes so that OBO call will automatically look in the cache for either an access token or refresh token, and tries to refresh automatically, so the caller does

[2021-08-12 18:52] g2vinay opened #433 "[FEATURE-RQUEST] Add support for Suggested Cache Key to TokenAccessContext"
Hi

We need access to SuggestedCacheKey in ITokenAccessContext similar to how MSAL.NET exposes it.

Note: This feature is already present in MSAL .NET, just needs to be ported over.

[2021-08-13 09:47] TomislavSmvc commented on #426
@sangonzal  Yes.
I do it like this:
1. User presses a button on front-end that calls a method on the back-end
2. That method uses the provided token to get a OBO token (IAuthenticationResult authResult) which i store into the spring cache for later use.

But this authResult just never seems to have an account (see the image from my previous account).
Am i supposed to do some special configuration

[2021-08-17 18:07] sangonzal commented on #426
When I try to reproduce using the Web API sample (where you originally opened this issue), the first time the OBO call is made authResult contains an account.
![Account](https://user-images.githubusercontent.com/35743865/129777270-8b660392-c9a6-49dc-b6d7-1da85563fde1.PNG)

By the way, it should be `authResult.account()` and not `authResult.getAccount()`

[2021-08-17 22:41] TomislavSmvc commented on #426
maybe i got an older versions of the libraries, maybe i just missed something, its pretty wierd.
I will have to update everything on my end and try again, but since my workaround seems to work well right now, its not so much a prioriy

[2021-08-18 06:30] j2-z commented on #382
@cheenamalhotra  @sangonzal Could I know how is this issue going on? I tried with the latest MSSQL JDBC and MSAL4J lib. The issue still presents.

[code]

[code]

As @cheenamalhotra  mentioned in https://github.com/Azure/azure-sdk-for-java/issues/23146, our application is using MSSQL JDBC interface and it's not possible to change the authentication endpoint. What should we do to solve this problem

[2021-08-18 08:23] j2-z commented on #382
I noticed that when MSSQL JDBC connects to an ADX server, the STSURL it received is `https://login.microsoftonline.com/common`
I wonder if it returns `https://login.microsoftonline.com/{tenantID}` then it might be able to work.
Is there any way to configure in ADX or Azure side to make ADX returns `https://login.microsoftonline.com/{tenantID} as STSURL ? `
[code]

[2021-08-19 08:42] yogilad commented on #382
Hi,

We recently added a workaround to control the authority to authenticate to.
You can change authority , via SQL connection string _Language_ or _application_ fields (depends where and how each available on specific client – ADO.NET, ODBC, JDBC, etc.), for example:
[code]

You can attempt this with the `organizations` keyword or with your specific tenant Id, and see if it helps.
If it does the

[2021-08-24 09:11] neerajwadhwa-lcci opened #434 "Two step device code flow"
Hi Team, is there a plan to add a two step device code flow? In step-1, we get the device code and in the step-2, we get the token using the device code received from the step-1, this way, the device code flow can be used in a more complicated scenarios where performing both the steps/tasks at once is not doable/desirable.

[2021-08-24 15:18] sangonzal commented on #434
Hi @neerajwadhwa-lcci, there is no plan to expose the two different steps device code flow. What are the scenarios where having MSAL perform both steps is undesirable?

[2021-08-24 16:08] neerajwadhwa-lcci commented on #434
Hi @sangonzal, because of security constraints, we can't perform ROPC on the server (this server is not built by us, pretty limited in terms of options available for OAuth). We have a method/functionality on the server that can be used to display the device code on the web portal so that the user can perform device code flow and we get the token but this doesn't work with default functionality pro

[2021-08-27 16:47] purofle opened #435 "where can I found the sample_cache.json?"
https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/773f2d97917864c3c96297849ca9779d4856707d/src/samples/public-client/DeviceCodeFlow.java#L27

[2021-08-27 17:13] #435 closed, assigned to nobody

[2021-08-30 17:41] sangonzal commented on #434
Closing, feel free to reopen in case of any follow up questions.

[2021-08-30 17:41] #434 closed

[2021-08-30 19:15] Avery-Dunn commented on #426
Closing due to inactivity. If you're still having issues or have any related questions, feel free to reopen this thread.

[2021-08-30 19:15] #426 closed

[2021-09-01 05:30] SomkaPe commented on #430
@anabih please provide more details, may be code snippet.
Are you using certificate or client assertion as client credential?
Did you successfully received access token?
Did you fail to use access token to access resource ?

[2021-09-03 16:17] g2vinay opened #436 "[FEATURE REQ] Expose refresh token / Support consuming refresh token in MSAL clients."
Hi,

We've a user request to support consuming user's refresh token and also allow users to read the refresh token.
I wanted to know what are MSAL's plans around supporting this feature.

Refrencing the original issue here: https://github.com/Azure/azure-sdk-for-java/issues/21104

[2021-09-07 21:47] chewong opened #437 "client assertion does not work when its issuer and subject don't match"
[code]

I got the following error:

[code]

I have used msal-python, msal-go, msal-net, msal-node, and they all do not require client assertion's issuer and subject to be the same.

[2021-09-14 21:33] cserratore-av commented on #140
I've been struggling to get the msal-b2c-web-sample working for a while due to this issue and even the stated workaround isn't resolving the problem for me.

I've tried every combination of the scopes below (I've temporary disabled the external API claim, which also didn't resolve the issue):

[code]

I can see in the debugger that the JSON response object from B2C being parsed does not include an

[2021-09-16 15:45] mkropf opened #438 "Enum com.microsoft.aad.msal4j.Prompt lacks a "none" option"
I am missing the option "none" in the enum com.microsoft.aad.msal4j.Prompt, I would like to use it in AuthorizationRequestUrlParameters to request a silent login

[2021-09-20 10:37] TotallyNotASecret opened #439 "getAccounts throws NullPointerException after acquiring token"
Running the sample code at https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/samples/public-client/UsernamePasswordFlow.java, NullPointerException is thrown at line 44, after acquiring a token using username and password. This also happened trying to to use the getAccounts function in my own code.

I am working with ADFS 2019.

Recreating the exception:

[code]

[2021-09-20 19:21] Avery-Dunn commented on #439
Hello @TotallyNotASecret : I just tried that code with an ADFS 2019 account and didn't encounter a null pointer exception, everything worked fine. Could you post the full error that you're getting?

[2021-09-20 19:31] Avery-Dunn commented on #438
Hello @mkropf : Could you describe your use case a bit? Typically, if you want to send a silent request you should make a silent flow call with `acquireTokenSilently`, and if that fails fall back to some interactive flow.

However, the silent flow only works if you already have a token to return/refresh, but if I understand it right you want to send 'none' to try to do that first interactive call

[2021-09-20 23:11] Avery-Dunn commented on #437
Hello @chewong : Sorry for the delayed response. That error message is coming from a package we use, [com.nimbusds.oauth2.sdk](https://www.javadoc.io/doc/com.nimbusds/oauth2-oidc-sdk/latest/src-html/com/nimbusds/oauth2/sdk/auth/JWTAuthentication.html), which implements the OAuth2 spec and we use it for most of this kind of JWT parsing.

I took a quick look through the JWT client spec and it doesn'

[2021-09-20 23:40] #421 closed

[2021-09-20 23:50] Avery-Dunn commented on #430
Closing due to inactivity. If you're still having issues or have any related questions, feel free to leave a comment or re-open this thread.

[2021-09-20 23:50] #430 closed

[2021-09-21 06:34] mkropf commented on #438
Hi @Avery-Dunn, you guessed it, I would like to make use of the "keep me signed in" options of MS login. The plan is, my server redirects the client to login with prompt "none" first and only if that fails it redirects the client to login with "select_account"

[2021-09-21 06:36] mkropf commented on #438
after all, "none" is a valid prompt option in MS identity platform so I would expect it in the enum type too

[2021-09-22 14:05] TotallyNotASecret commented on #439
@Avery-Dunn thanks for the quick response.
The full error is
[code]
After more testing and debugging, it seems the root cause of this error is in the `TokenCache` (https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/v1.11.0/src/main/java/com/microsoft/aad/msal4j/TokenCache.java) and `AccountCacheEntity` (https://github.com/AzureAD/microsoft-authentication-library-for-java/blo

[2021-10-04 21:16] JonathanGiles commented on #428
It seems that this was not picked up by the oauth2-oidc-sdk team - could we now consider pinning the version in msal4j?

[2021-10-04 21:20] JonathanGiles opened #441 "Consider dropping Jackson-databind dependency"
Jackson-databind is a frequent source of CVEs and diamond-dependency issues for users of our libraries. It is something I am actively trying to get removed from as many libraries that Microsoft ships as possible (in particular, in the Azure SDK for Java). Rather than use the jackson-databind functionality, there are often lower-level alternatives that can be used that remove the need for this depe

[2021-10-05 14:03] sangonzal commented on #428
@Avery-Dunn @SomkaPe FYI

[2021-10-10 12:34] inventivejon commented on #140
Would be interested in the answer too. Having the same issue...

[2021-10-12 15:21] g2vinay opened #442 "Upgrade Jackson-Databind and SLF4j Dependency"
We need to have Msal4j upgrade the com.fasterxml.jackson.core:jackson-databind dependency to 2.12.5
and org.slf4j:slf4j-api to 1.7.32

Upgrading these dependencies will align them with azure-core and help end users to avoid runtime dependency conflicts issues such as NoSuchMethodError, ClassNotFoundException etc.

[2021-10-15 10:13] mickaelclavreul opened #443 "Permission Denied within a secured java environment"
Dear all,
I tried using msal, azure identity and microsoft graph libraries within the execution context of Java Webstart Application for days and been through odd permission behaviors.
I finally identified the issue, thanks to [help](https://github.com/karakun/OpenWebStart/issues/457) received from OpenWebStart support and lots of digging in the msal4j source code.
Namely, the issue is that once d

[2021-10-18 19:02] javate opened #444 "Front-channel logout URL is not called when Sign out everywhere is done in incognito window"
I have created a multitenat application şn the Azure Portal. I have set its redirect URIs and Front-channel logout URL.

I opened a normal(not incognito) Chrome window and I give consent to my application with a Microsoft account. Then I opened another incognito Chrome window and went to https://myaccount.microsoft.com/(it redirect me to sign in page firstly) after that I clicked to Sign out every

[2021-10-21 11:32] DatStorm opened #445 "Client credentials parameters option to set resource not present."
*Hey*

Trying to create a valid token but needs to set the resource option meaning if I in Postman/Insomnia goes to advanced settings there is an option to set resource to some ID. I want to do that how can it be done? If I get the access token generated in Postman/Insomnia and try with that it works no problem.

[code]

[2021-10-22 12:51] jonoshearman opened #446 "Method not found: ConfidentialClientApplication.Builder.authority(java.lang.String)"
Hello,
I've been setting up an on behalf of flow for an Office addin in order to have SSO and graph access.
On the backend API I have set up a new authProvider class extending `BaseAuthenticationProvider` with the following override method:

[code]

However, at runtime it throws this exception on the line shown above but the authority() method clearly exists in the class.
[code]

I've tried lookin

[2021-10-26 03:09] g2vinay opened #447 "Interactive Browser Auth not working on Mac OS"
**Describe the bug**
When trying to authenticate with Azure via Interactive Browser from a Java/Sprint application, the following error is thrown:
[code]
And the application halts.

**To Reproduce**
* This was ran many times in OSX with the default browser (in the OS) set to Safari, Chrome or Edge.

***Code Snippet***
[code]

**Expected behavior**
For my Java application to be able to use the defa

[2021-10-30 05:33] Eugene-Roslikov-BQ opened #448 "Integrated Windows Authentication fails when app's jar does not have Implementation-Version: 2.0 in the manifest"
Integrated Windows Authentication fails when app's jar does not have Implementation-Version:  in the manifest, or it is lover than 2.0
root cause of that is
[getProductVersion() in HttpHeader ](https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/main/java/com/microsoft/aad/msal4j/HttpHeaders.java)

[2021-11-02 13:56] jonoshearman commented on #446
Closing this as it turned out there was another project pom overriding it with msal v1, removed that and all was well.

[2021-11-02 13:56] #446 closed

[2021-11-10 22:22] joshfree commented on #441
/cc @scottaddie

[2021-11-16 01:02] henrik-me commented on #441
@JonathanGiles : do you have a recommendation for msal4j on the best path to removing this dependency? Alternatives? What will work well with Azure SDK's?

[2021-11-16 01:02] henrik-me commented on #441
cc: @Om83

[2021-11-16 01:09] JonathanGiles commented on #441
yes, lets sync in Teams about what we should do here. It depends on the extent of use and whether Jackson Databind is overkill for the requirements you have.

[2021-11-16 04:13] henrik-me commented on #441
@Avery-Dunn ^^
CC: @Om83

[2021-11-16 15:25] jdavilap opened #450 "Protect Azure Function using MSAL for JAVA"
Hi, I want to protect my azure function using MSAL for JAVA. How can i do that ? Can you give some example, or link to read documentaction about this.

Thank you.

[2021-11-22 19:38] g2vinay commented on #442
@Avery-Dunn
What's the ETA for this update to be released ?
The change is straight forward, just need to update the dependency mentioned to the specified versions.

[2021-11-29 12:20] jxkraj opened #451 "Access token cannot be retrieved if Saxon is default transformer"
Access token cannot be retrieved and throws the below error if Saxon transformer is on the classpath or javax.xml.transform.TransformerFactory is set to net.sf.saxon.TransformerFactoryImpl.

[code]

The issue can be reproduced by means of below code snippet:

[code]
net.sf.saxon.saxon-he:10.3 and com.microsoft.azure.msal4j:1.11.0 were used to reproduced the issue.
The same issue can be also reprod

[2021-11-29 22:24] JonathanGiles commented on #441
I'd love to get an update on this - dropping databind would be a huge win, and would enable the azure-sdk-for-java to more actively drop the dependency entirely from our dependency tree. I am happy to help transition away from databind, if necessary. Thanks!

[2021-11-29 22:42] lmolkova commented on #441
happy to help with this. The general approach is to use `JacksonParser` and `JacksonGenerator` directly from `jackson-core` package.
If MSAL only works with a few well-known models, it should be straight-forward. [example in Azure SDK](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/GeoJsonSerializer.java) (just avoid us

[2021-11-30 18:32] scottaddie commented on #441
I spoke to @Avery-Dunn about this work a few weeks ago. Avery was going to follow up with @Om83 to prioritize. @Avery-Dunn Are there any updates to provide?

[2021-11-30 20:37] Avery-Dunn commented on #441
Hey @scottaddie : Sorry for the delay. I plan on getting these dependency changes made sometime this week, and while I don't have an ETA this is something that will definitely be going into our next release.

@lmolkova : Thanks for the suggestions!

[2021-12-08 00:06] prmenon-aa opened #452 "Network Connectivity Issues which trying to use Service Principal"
## Question
I am using SQLServerDataSource to connect to my SQLMI instance using Service Principals. Here is a code snippet

[code]

Within my corporate network, this works on some servers, but fails on other servers. From the stack trace, I can see its a problem with the outbound network rules on some of my servers, but I just can't figure out which hostname/port is it trying to reach.  I already

[2021-12-21 21:12] montyKhurana opened #454 "Getting random Connection Reset error while acquiring azure access token"
I am using UsernamePasswordFlow for acquiring accessToken. I followed below example.

https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/src/samples/public-client/UsernamePasswordFlow.java

[code]

It works most of the time but every now and then i see below error on pca.acquireToken(parameters).join();

Exception in thread "main" java.util.concurrent.CompletionException

[2022-01-03 21:48] joshfree opened #455 "Add WAM Support to MSAL for Java, for cross-language consistency"
Today WAM support is only in MSAL for .NET. In order to support WAM in Azure Identity Client Library and meet Azure SDK Design Guidelines (of maintaining feature parity across languages), the support for WAM must exist in all Tier-1 languages (C#, Java, JS, Python) for Azure Identity SDK to GA the support at its layer of the stack.

This GitHub issue tracks the ask for adding WAM support to MSAL i

[2022-01-07 03:46] siddhijain commented on #450
Hey @jdavilap, Here are some of the links that can help you get started -
https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-overview
https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code

[2022-01-12 15:45] bgavrilMS opened #456 "Add observability mechanisms"
Please see https://identitydivision.visualstudio.com/DevEx/_git/AuthLibrariesApiReview/pullrequest/4733

The gist of it is:

- add a few metrics as part of `AuthenticationResult` such as "time spent in cache", "time spent in http" etc.
- small logging improvements
- review telemetry

[2022-01-24 00:45] bpossolo commented on #140
@inventivejon @cserratore-av include the client application's ClientID in the list of scopes.
In Azure B2C, the Client ID and Application ID are synonymous (visible under Azure AD B2c -> App Registrations)

[2022-01-27 15:41] pepenotti opened #459 "FasterXML Jackson Core dependency vulnerability"
redacted

[2022-01-27 16:21] #459 closed

[2022-01-31 09:08] nclaeys opened #463 "Can you publish release 1.11.1 to the maven repository"
I wanted to try out the latest version: 1.11.1 as it was released last week and it contains a fix for my issues with msal.
I noticed that the version is not pushed to the mvn repository. The docs mention this as the current version and github actions show that the release was made, but it is not available to users yet.

[2022-01-31 16:05] Avery-Dunn commented on #463
Hello @nclaeys : Sorry for the confusion, although the code was updated for the 1.11.1 release last week we encountered some issues with our deployment tools so the actual release was delayed to this week. I'll update you once we've officially released to Maven.

[2022-01-31 16:27] siddhijain commented on #450
@jdavilap Let us know if you were able to protect your azure function using MSAL Java or if you need any help.

[2022-01-31 17:36] Avery-Dunn commented on #310
Was part of the 1.10 release

[2022-01-31 17:36] #310 closed

[2022-02-02 15:52] Z-EMB commented on #463
@Avery-Dunn Thanks.
Can the latest oauth2-oidc-sdk also be included? It has an updated json-smart dependency [1.3.3, 2.4.7] which should resolve https://nvd.nist.gov/vuln/detail/CVE-2021-31684

[2022-02-03 09:44] lwc-Arnold opened #464 "verify signature failed"
i have get a accessToken from my tenant web application, and i also check it format at[jwt.io/].
now i want to verify the third part of the jwt, the sign, i knew is the sha256withRSA. i verify it by two jwt SDK tool. the [nimbus-jose-jwt] same as you demo dependency,  the [org.bitbucket.b_c / jose4j], all failed.
yes i get the right public key form[https://login.microsoftonline.com/common/v2.0/.we

[2022-02-03 22:24] siddhijain commented on #463
@nclaeys MSAL 1.11.1 is now available in maven repository. Thanks for your patience.
@Z-EMB This release also uses the latest version of oauth2-oidc-sdk (9.22.1).

[2022-02-03 22:26] siddhijain commented on #437
@chewong Latest version of MSAL(1.11.1) is now released that contains fix of this issue.

[2022-02-03 22:33] #463 closed

[2022-02-03 22:33] #437 closed

[2022-02-04 15:09] Z-EMB commented on #463
@siddhijain great, thank you.
Is there an issue to track, when is the fix for [CVE-2021-31684](https://nvd.nist.gov/vuln/detail/CVE-2021-31684) expected to release?

[2022-02-04 16:53] siddhijain commented on #463
@Z-EMB There is no issue raised right now. The fix is already in one of the branches and it will sure be part of the next release in the first week of March. We can create an issue to track if that helps.

[2022-02-04 18:18] Avery-Dunn commented on #464
Hello @lwc-Arnold : Could you explain your scenario and error a bit more?

You're using our library to get tokens and that all works, but when separately trying to verify the signature of those tokens you're getting an error? If so, could you paste the exact error you're getting (with the stack trace if you have it)?

[2022-02-07 15:32] lwc-Arnold commented on #464
//this is MS RSA publickey
String jsonWebKeySetJson = "{\"keys\":[{\"kty\":\"RSA\",\"use\":\"sig\",\"kid\":\"Mr5-AUibfBii7Nd1jBebaxboXW0\",\"x5t\":\"Mr5-AUibfBii7Nd1jBebaxboXW0\",\"n\":\"yr3v1uETrFfT17zvOiy01w8nO-1t67cmiZLZxq2ISDdte9dw-IxCR7lPV2wezczIRgcWmYgFnsk2j6m10H4tKzcqZM0JJ_NigY29pFimxlL7_qXMB1PorFJdlAKvp5SgjSTwLrXjkr1AqWwbpzG2yZUNN3GE8GvmTeo4yweQbNCd-yO_Zpozx0J34wHBEMuaw-ZfCUk7mdKKsg-EcE4Zv

[2022-02-07 18:50] g2vinay opened #466 "Add the ability to consume Client Assertion as a Supplier / Callback."
MSAL .NET uses a callback to consume client assertion.
Align the logic in MSAL4J's Confidential client with .NET's.

This will allow us to control the assertion used per request like MSAL .NET and not have it locked in at Confidential client construction time.

The equivalent API on MSAL .NET that allows to configure the Client Assertion as a callback:
https://github.com/AzureAD/microsoft-authenti

[2022-02-07 19:09] g2vinay opened #467 "Valid Client Assertion Fails validation on MSAL Confidential client. Enforces that Subject value should equal issuer value."
Where subject value should be equal to issuer value, but in the client assertion token it is not.

subject == "system:serviceaccount:default:pod-identity-sa"

issuer == "https://aramase.blob.core.windows.net/oidc-test/"

[2022-02-07 19:09] g2vinay opened #468 "Valid Client Assertion Fails validation on MSAL Confidential client. Enforces that Subject value should equal issuer value."
Provide a switch to disable this validation.

The validation fails with following then Client Credential from client assertion is passed into the Confidential Client with error below:

[code]

[2022-02-07 19:16] #468 closed

[2022-02-07 19:20] g2vinay commented on #468
Duplicate of #467

[2022-02-07 20:35] siddhijain commented on #467
@g2vinay We just fixed this issue in the latest MSAL Release 1.11.1. Are you using the latest library? Can you elaborate on the issue?

[2022-02-07 20:50] Avery-Dunn commented on #464
@lwc-Arnold : It looks like all of the code you posted was copied from [here](https://github.com/felx/jose4j/blob/master/src/test/java/org/jose4j/examples/ExamplesTest.java), in a library called "jose.4.j". I'm not sure what that dependency has to do with our library here (MSAL Java) since we mainly use [Nimbus JOSE+JWT](https://mvnrepository.com/artifact/com.nimbusds/nimbus-jose-jwt) for our toke

[2022-02-07 21:11] siddhijain commented on #466
@g2vinay Can you elaborate on this? Do you have links to any documentation or MSAL .NET implementation?

[2022-02-08 20:01] siddhijain commented on #252
@bgavrilMS based on your comments above, can we close this issue?

[2022-02-08 20:03] siddhijain commented on #455
Discussed in team meeting on 2/8 - This is waiting on Middle tier work to be finished.

[2022-02-09 00:32] g2vinay commented on #466
@siddhijain

I am referring to this API on MSAL .NET:
The equivalent API on MSAL .NET that allows to configure the Client Assertion as a callback:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/AppConfig/ConfidentialClientApplicationBuilder.cs#L213

We need to provide something equivalent to this in msal4j.

[2022-02-09 00:33] g2vinay commented on #467
@siddhijain, thanks for the update, I will try out the latest version and let you know.

[2022-02-09 02:58] siddhijain commented on #467
@g2vinay We are working on a hot fix release to address an issue found in the last release. I will update you when it is ready to test.

[2022-02-09 03:15] lwc-Arnold commented on #464
the demo is here【https://github.com/AzureAD/microsoft-authentication-library-for-java/tree/dev/src/samples/msal-web-sample】。

[2022-02-09 05:59] lwc-Arnold commented on #464
another question,  i have update the tenant config json, set [accessTokenAcceptedVersion] =2, but i still get the token in version1.

[2022-02-09 15:32] siddhijain commented on #463
@Z-EMB v1.11.2 is released which includes oauth2-oidc-sdk version related changes as well.

[2022-02-11 06:44] yongheyan opened #472 "client_id is missing from request body"
I have the following code:
[code]

I tried to acquire token like these:
[code]
The server's response is something like "client_id is missing".
I checked the actual httpRequest and the body is like this:
[code]
The client_id could not be found in the request body. However, according to Microsoft documentation from here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-clien

[2022-02-11 16:25] yongheyan commented on #472
@siddhijain The version is 1.11.1.

[2022-02-11 16:26] siddhijain commented on #472
@yongheyan Please use the latest version 1.11.2. Let me know if that resolves the issue.

[2022-02-12 16:40] Jeremy-Code-F opened #473 "NoClassDefFoundError interactive public client"
Hi,

I am running into an exception trying to get the example code [here](https://github.com/AzureAD/microsoft-authentication-library-for-java/wiki/Acquiring-Token-Interactively) working with a JavaFx desktop app.

Java Version - OpenJDK 17
OS - Linux Mint 20.1 Ulyssa

My Azure app reg has been setup,

    private String PUBLIC_CLIENT_ID = "my client id from azure";
    private String AUTHORITY =

[2022-02-14 06:20] seblea commented on #214
Caused by: java.lang.ClassCastException: java.util.Collections$SingletonList cannot be cast to java.lang.String
	at com.nimbusds.oauth2.sdk.util.URLUtils.serializeParameters(URLUtils.java:103)
	at com.microsoft.aad.msal4j.TokenRequestExecutor.createOauthHttpRequest(TokenRequestExecutor.java:57)
	at com.microsoft.aad.msal4j.TokenRequestExecutor.executeTokenRequest(TokenRequestExecutor.java:35)

[2022-02-14 06:22] seblea commented on #214
I have seen that this bug is closed . I am using spark 2.4  with scala version 2.11 and jackson.version 2.13 . I have this dependancy in my pom  <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>msal4j</artifactId>
            <version>1.11.2</version>
        </dependency>
        <dependency>
            <groupId>com.fasterxml.jackson.core</groupId>

[2022-02-14 22:03] Avery-Dunn commented on #473
Hello @Jeremy-Code-F : If you're getting errors related to missing classes in basic things like the com.sun.... packages, it might be because of the JDK version you're using.

Our library and samples were built and tested using Java 8 for the most part, so if you're using Java 17 then some of the basic packages/classes we reference may have changed/moved between those versions and you may keep run

[2022-02-14 22:40] Jeremy-Code-F commented on #473
Yes I was able to get everything fixed by including the jdk module for the httpserver and haven't had any other issues since then so I'm ok if we want to close the issue. Just wanted to make sure you guys were aware of this in newer java versions/javafx. Thanks!

[2022-02-14 23:04] Avery-Dunn commented on #473
Glad to hear it's all working! And thanks for bringing this to our attention, we don't do much testing with newer Java versions so having this info for our docs going forward definitely helps.

[2022-02-14 23:04] #473 closed

[2022-02-15 13:28] chrisbetz opened #474 "package private abstract base classes with public members"
Using version 1.11.2, Java 17, Clojure 1.11.0-beta1.

Due to [Clojure issue 'Cannot resolve public generic method from package-private base class'](https://clojure.atlassian.net/browse/CLJ-1243), the classes `com.microsoft.aad.msal4j.AbstractClientApplicationBase` and
`com.microsoft.aad.msal4j.AbstractClientApplicationBase$Builder` make it hard to use msal4j with Clojure.

An easy fix would be to

[2022-02-16 18:34] siddhijain commented on #472
Hello @yongheyan. You're right about client_id missing from the request body and we will work on fixing this in one of the next releases. However, I was still able to get an access token using the code above. Can you please check?

[2022-02-17 17:57] yongheyan commented on #472
@siddhijain: Our ADFS server still responses with an error message that says: client_id is missing.

[2022-02-17 19:45] Avery-Dunn commented on #474
Hello @chrisbetz : I don't have any experience with Clojure, so just to clarify:
- Is this issue happening when trying to use a method inherited from `AbstractClientApplicationBase`, like what `ConfidentialClientApplication` or `PublicClientApplication` objects would have?
  - If so, is it all inherited methods or do overriden methods not cause this error?
- Or is it happening when trying to call

[2022-02-18 14:11] AnjanaCloud opened #475 "MS graph Subscription (Change notification for users) and access token fetch using java"
Hi . I am trying to implement msgraph subscription using java. I have the following code. I tried to acquire token like these: Am I using the right auth provider to fetch access token ?

                final TokenCredentialAuthProvider tokenCredentialAuthProvider = new TokenCredentialAuthProvider(SCOPE, (TokenCredential) authProvider);

                GraphServiceClient graphClient = GraphServic

[2022-02-18 18:34] Avery-Dunn commented on #475
Hello @AnjanaCloud : Just to clarify, are you getting some sort of error using this code or are you just looking for guidance/best practices for getting the tokens? Also, the `ConfidentialClientApplication` stuff is MSAL Java, but where is the code in the first part of your post coming from?

[2022-02-19 05:02] AnjanaCloud commented on #475
Hi @Avery-Dunn I am trying to build a Java code fto implement notification(subscription) when user is added in AAD, using MSAL and MS Graph API.  I guess, I am not using the authprovider part in the right way. Glad if I get any kind of guidance over fetching token successfully. Thanks.
[MSGraph.txt](https://github.com/AzureAD/microsoft-authentication-library-for-java/files/8101467/MSGraph.txt)

[2022-02-21 09:39] lwc-Arnold commented on #464
import com.nimbusds.jose.JWSVerifier;
import com.nimbusds.jose.crypto.RSASSAVerifier;
import com.nimbusds.jose.jwk.KeyUse;
import com.nimbusds.jose.jwk.RSAKey;
import com.nimbusds.jose.util.Base64URL;
import com.nimbusds.jwt.SignedJWT;

public class NimbusJwt {

//https://connect2id.com/products/nimbus-jose-jwt/examples/jwt-with-rsa-signature
//JWSVerifier verifier = new RSASSAVerifier(rsaPublicJW

[2022-02-21 10:42] chrisbetz commented on #474
Hi @Avery-Dunn, (sorry, been on sick leave for two days)

thanks for caring:  It's more the first option you're outlining, but I'll try to explain in detail.

I'm following the Java steps in [Daemon app that calls web APIs - code configuration > Instantiate the confidential client application with a client secret](https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-app-

[2022-02-22 15:45] AnjanaCloud commented on #475
@Avery-Dunn  @PramodKumarHK89  I am able to fetch user data using Graph Client. My code to implement subscription is not getting succeeded. I think my issue is authprovider and notificationUrl.
Also , I am in confusion about how to give the POST call to "http://localhost:4200/1/mynotification" , how to handle the POST call.  Spent alot of time in it.  It will be a great help if someone can clear m

[2022-02-22 18:16] siddhijain commented on #455
WAM Integration work can be done now. We will have to wait for AT Pop work to finish.

[2022-02-22 19:08] Avery-Dunn commented on #464
As I said a couple times now, could you post the actual error/stack trace? And if you're using our demo to produce these tokens like you mentioned earlier, did you change anything or do anything more than the instructions said? In my own tests I could get tokens with valid signatures.

If the exception isn't happening in our library then I'm not sure how much we can help, you should try getting su

[2022-02-22 19:23] Avery-Dunn commented on #475
It seems like that code is just using the [Microsoft Graph SDK for Java](https://github.com/microsoftgraph/msgraph-sdk-java)? Where is MSAL Java involved in your actual code, and code you post the actual error message and stack trace?

If you have questions about configuring stuff in the MS Graph Java SDK, I'd recommend opening an issue in their Github repo instead: https://github.com/microsoftgra

[2022-02-23 01:30] lwc-Arnold commented on #464
thank u so much
sorry to trouble you,  NO ERROR or EXCEPTION in your library,  NO ERROR or EXCEPTION in your demo.
i can get token by login, the token  has sign, format is ok. demo runs well.
i just want to do a little more, just validate the token is produced by MicroSoft, by validate the token sign.
i has trouble in validate token sign. i tried two sdk, all failed. can u give me some advice? tha

[2022-02-23 04:30] AnjanaCloud commented on #475
[code]

[code]

[2022-02-23 21:25] Avery-Dunn commented on #464
So, after asking around and finding some folks who know more about how these access tokens are made, it's my understanding that access tokens simply don't have signatures that can be validated using normal methods. In this case, the token service put a 'nonce' value in the header (which you can see in your token), and I think that is used in some way to encrypt or otherwise change the token signat

[2022-02-23 21:28] Avery-Dunn commented on #475
Again, this seems to be code and an error message in the [MS Graph Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java), and I'm not too familiar with that SDK or what could be going wrong here.

Unless you think this issue is being caused by MSAL Java in some way, I'd recommend opening an issue in their repository, since they'll be able to help you more than we could.

[2022-02-24 01:04] bpossolo commented on #140
This appears to be expected behavior as it's now [documented in Azure B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens#openid-connect-scopes).

[2022-02-24 01:40] lwc-Arnold commented on #464
thanks for your information.
 now i understand, i decide not validate access token anymore.  thank you for your patience.

[2022-02-24 01:41] #464 closed

[2022-02-24 01:42] lwc-Arnold commented on #464
i now understand should not validate access token, then, close.

[2022-02-24 09:58] #475 closed

[2022-02-24 16:41] Avery-Dunn commented on #464
Happy to help, and if you have any other questions or issues feel free to open up a new thread to ask.

[2022-02-24 16:45] Avery-Dunn commented on #474
Thanks for the info about Clojure. After some discussion, we've decided to probably make those classes public in our next release, as well as check for other places where this issue might happen.

I don't have an ETA for that but it should be within the next few weeks, and I'll update this thread once it's available.

[2022-02-24 22:34] maliksahil opened #476 "[Feature Request] Libset encryption on Ubuntu - use 600 mode on Unix for Token Cache"
Please see this issue for details,
https://github.com/AzureAD/microsoft-authentication-extensions-for-python/issues/106

ADO tracking item https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1760109

[2022-02-25 10:16] chrisbetz commented on #474
Hi @Avery-Dunn,

thanks for sharing that decision, and I'm glad you decided that way.

No problem wrt no ETA, but thanks for the rough timeframe. Looking forward.

Have a nice weekend!

[2022-02-25 13:00] maximemousserin opened #477 "ITokenCacheAccessAspect - best practice implementation ❓"
Lack information on ITokenCacheAccessAspect implementation into production environment

Official documentation only indicates to use the interface
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-java-token-cache-serialization

How to handle cache for specific accounts without deserializing entire cache ?
How to handle performance issue for large accounts collection ?

Or is it

[2022-02-25 16:14] siddhijain commented on #334
Closing this since build pipeline is now moved to OneBranch. We will monitor if the same issue is reproducible there.

[2022-02-25 16:14] #334 closed

[2022-02-25 17:57] siddhijain commented on #450
Closing since no response. Please reopen this or open a new one if you need more information.

[2022-02-25 17:57] #450 closed

[2022-02-25 19:58] yongheyan opened #478 "How to create ClientCredential with private and certificate thumbprint?"
In MSAL for Python, I can create client_credential with private key and certificate thumbprint. However, I could not find a way to do the same in MSAL for Java. `ClientCredntialFactory` only has a method to create client credential with private key and the certificate.
I am wondering how I can create ClientCredential with private key and certificate thumbprint? If it is not supported now, please a

[2022-03-04 09:10] chenrujun commented on #428
Hi, @sangonzal

FYI: You can use this way to avoid bring version range to your customer in your side:
https://github.com/Azure/azure-sdk-for-java/pull/27453

[2022-03-07 19:34] Avery-Dunn commented on #478
Hello @yongheyan : Sorry for the delayed response. Currently we have methods for using a private key/certificate, client secret (from Azure AD mainly), and JWT client assertions, but not with a private key/certificate thumbprint. You can try looking into JWT assertions, there may be a way to sign them in a way that works best for you but I'm not sure about all of the options.

We'll discuss coveri

[2022-03-07 20:05] Avery-Dunn commented on #477
Hello @maximemousserin : Sorry for the delayed response. We're currently reworking a lot of our old documentation, but haven't gotten to the cache persistence stuff yet so unfortunately I don't have any better docs to link.

Essentially, the doc you linked describes that in order to persist the cache, you need to implement your own `ITokenCacheAccessAspect`. That interface has two core methods whe

[2022-03-09 12:06] ramsay2021 opened #480 "Password required for managed users - Integrated window authentication"
Integrated Windows Authentication
If your desktop or mobile application runs on Windows, and on a machine connected to a Windows domain - AD or AAD joined - it is possible to use the Integrated Windows Authentication (IWA) to acquire a token silently. No UI is required when using the application.

I have tried to run a sample MS code of MSAL Java Integrated window authentication to acquire a token

[2022-03-15 09:37] ramsay2021 commented on #480
@Avery-Dunn Thanks Avery for replying to my query.

Currently Federated users is not feasible in our current setup environment.
Is there any alternate token acquisition methods which i can use without UI intervention?

Is it good to use WAM for token acquisition method using windows login credential without UI intervention?
I see WAM supported only in .net. Is this method having any constraints an

[2022-03-15 17:40] Avery-Dunn commented on #480
@ramsay2021 Unfortunately IWA is probably the best fully non-interactive flow, but there are a couple other options:

- [Device code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#device-code)
  - If you're trying to avoid UI interaction because users may not be able to access a browser on the device the app is running on, then you could use the dev

[2022-03-22 23:24] xiangyan99 opened #481 "Consistency track: please provide consistent APIs to disable authority validation and instance discovery"
Now we have different API/behaviors for customers to disable authority validation and instance discovery.

Please sync across languages to provide consistent ones.

This is important because JEDI scenarios are blocked by current behavior.

[2022-03-29 15:44] Avery-Dunn commented on #466
Feature was added in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/482 and released as part of [1.11.3](https://github.com/AzureAD/microsoft-authentication-library-for-java/releases/tag/v1.11.3)

Closing this issue, feel free to reopen or leave a comment if anything else is needed.

[2022-03-29 15:44] #466 closed

[2022-04-02 00:01] yongheyan commented on #472
Any update on this issue?

[2022-04-05 17:55] Avery-Dunn commented on #480
Closing due to inactivity. If you still have issues or have any related questions, feel free to leave a comment or re-open this thread.

[2022-04-05 17:55] #480 closed

[2022-04-05 17:55] Avery-Dunn commented on #477
Closing due to inactivity. If you still have issues or have any related questions, feel free to leave a comment or re-open this thread.

[2022-04-05 17:55] #477 closed

[2022-04-06 02:39] siddhijain commented on #472
Hello, we are working on a fix and will update the thread when it is available.

[2022-04-13 06:35] xiangli425 opened #490 "What is the scopes parameter MSAL for Java classes require? help!!!!"
What's the relationship between resourcetype and scope?
I had writen in this way.:
`> Set<String> scopes = Collections.singleton(resourceType.replaceAll("/\\z", "") + "//.default");`

**As a result, I received a fatal error!!!**

[2022-04-13 12:25] siddhijain commented on #490
Hey @xiangli425 Can you please provide more details? What is a resource type here? A scope is not related to resourceType.
Here are some documents on scope -
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-v1-app-scopes
https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-core/docs/scopes.md
https://docs.microsoft.com/en-us/azure/active-director

[2022-04-13 17:48] siddhijain commented on #467
Closing this issue since the work is done. Feel free to reopen this or open another one in case of any issues with this implementation.

[2022-04-13 17:48] #467 closed

[2022-04-14 06:04] xiangli425 commented on #490
this are my codes, I just don't know what the scopes in msal should be
`adal:
AsymmetricKeyCredential cred = AsymmetricKeyCredential.create(clientId, new ByteArrayInputStream(pkcs12Secret), "");
            AuthenticationContext context = new AuthenticationContext(stsurl, false, Executors.newFixedThreadPool(1));
            Future<AuthenticationResult> future = context.acquireToken(resourceType, c

[2022-04-14 15:23] siddhijain commented on #490
Hello @xiangli425 , You can add the /.default scope suffix to the resource to help migrate your apps from the ADAL to MSAL. For example, for the resource value of https://graph.microsoft.com, the equivalent scope value is https://graph.microsoft.com/.default
So in your case, instead of
Set scopes = Collections.singleton(resourceType.replaceAll("/\z", "") + "//.default");
You can do
Collections.sin

[2022-04-18 07:40] xiangli425 commented on #490
here is the information of error logs:
2022-04-12 07:41:02.520Z [pool-6-thread-1] ERROR c.m.p.l.moderate.KenshoLogger2#outputDevLog[136] - [DEVLOG] [IngestionComm] Error. [Kusto data fetch] Get access token failed. | EXCEPTION: com.microsoft.aad.msal4j.MsalServiceException: AADSTS7000215: Invalid client secret provided. Ensure the secret being sent in the request is the client secret value, not th

[2022-04-18 15:19] siddhijain commented on #490
It looks like the client_secret provided is invalid. Make sure you are using secret_value and not secret_ID from the azure portal. [![Secret_value](https://user-images.githubusercontent.com/30181294/163830492-8aad5a1d-bf6f-4c20-990c-6b27c23f1d4d.png)(url)

[2022-04-20 15:57] luedi opened #492 "Could not authenticate via Azure Directory Interactive with MFA"
I want to login to an Azure SQL Server managed instance via Azure Directory Interactive. The account has MFA via Microsoft Authenticator enabled. The login screen (https://uniper-onmicrosoft-com.access.mcas.ms/aad_login) is displayed and I enter my credentials and approve them with the Microsoft authenticator app. After a while i get the response:

`The specified database user/password combination

[2022-04-20 19:17] Avery-Dunn commented on #492
Hello @luedi : Is there any more to that error message, like an error code, files/line numbers for the package that threw the error, etc.? If so, could you provide it?

Also, could you describe how you're using MSAL Java in your application? You mentioned you're trying to access an Azure SQL server ([this](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-database-paas-overview), right

[2022-04-21 04:17] Netyyyy opened #493 "Could upgrade version of oauth2-oidc-sdk for spring support?"
The version of `net.minidev:json-smart` in spring-boot:2.6.6 now is 2.4.8,
but `msal4j:1.11.3` still uses `oauth2-oidc-sdk:9.22.1` which only supports json-smart[1.3.3,2.4.7],
So when will the `oauth2-oidc-sdk` be upgraded to the latest version to support `json-smart:2.4.8`?

[2022-04-21 18:22] luedi commented on #492
To be more precise: MFA-login via Azure Active Directory Interactive is possible with SSMS. I can login and work with the database. It's a Java problem. Jetbrains support sent me a testl program which shows the same behavior as DataGrip.

[Test-MS-ActiveDirectoryInteractive-master.zip](https://github.com/AzureAD/microsoft-authentication-library-for-java/files/8533631/Test-MS-ActiveDirectoryInterac

[2022-04-21 19:17] siddhijain commented on #493
Thanks for letting us know. We will work on updating this dependency and will update the thread once it is done.

[2022-04-22 21:12] xsimo commented on #338
@burhanelgun How did you resolve this issue ?
I tried to use the implementing class `com.microsoft.aad.msal4j.AuthenticationResult` but that class is not declared public as of version 1.9.1

[2022-04-25 17:15] Avery-Dunn commented on #492
That "No Authorization code was returned from the server" error message is thrown whenever we simply get no response (or an empty response) from the authorization server so it can be tricky to pinpoint the exact issue, especially when MSAL Java is just a dependency of some other program.

Is your Azure SQL Server or your Azure Active Directory running in a specific Azure region? I've seen that err

[2022-04-25 17:26] #439 closed

[2022-04-26 02:12] siddhijain commented on #490
Since msal is all scope based, different tokens are needed for different resource+scope. When the user requested different tokens 1 for each resource, the issue got resolved.
Closing since resolved.

[2022-04-26 02:12] #490 closed

[2022-04-26 02:19] siddhijain commented on #428
@g2vinay @JonathanGiles @joshfree msal java now uses version 9.32 of oauth2-oidc-sdk that does not specify net.minidev:json-smart dependency as a variable range.
Can this issue be closed now?

[2022-04-26 02:33] siddhijain commented on #321
@Avery-Dunn I believe we are already using sonar linting in msal4j. Is sonarcloud still a thing?

[2022-04-26 02:35] siddhijain commented on #261
@henrik-me can this issue be closed since we are not planning to add ROPC to confidential clients?

[2022-04-26 02:40] siddhijain commented on #140
Closing this as it is now documented and is an expected behaviour.

[2022-04-26 02:40] #140 closed

[2022-04-26 19:27] David-Engel commented on #492
From the log file you uploaded, it looks like your interactive authentication session is simply timing out after 2 minutes. How long does it take from the time the browser pops up to the time the browser tells you to go back to your application?

2022-04-21T18:02:29.638818700Z
com.microsoft.sqlserver.jdbc.SQLServerConnection.processFedAuthInfo
ConnectionID:1 ClientConnectionId: 78514320-a136-4715-

[2022-04-26 20:07] MushyMiddle commented on #301
I'm running into this as well.  It seems to me the root of the problem is that com.sun.net.httpserver is part of the JRE, so shouldn't have to be imported, and in fact isn't really exported anywhere.  Perhaps different OSGi platforms handle package visibility differently, but at least for the old-ish Equinox we're using, the package can't be found.  FWIW, I'm using Corretto as my JRE, and have ver

[2022-04-26 20:42] g2vinay opened #497 "Use a Custom ThreadPool made from Daemon Threads to execute Authentication Requests as Completable Futures."
Hi,

The MSAL4J library uses Completable Futures to execute authentication requests.
The completable futures by default rely on common Fork join thread pool to execute authentication requests.
This causes problems such as deadlock for the users when the application code is using all the threads and the msal request is waiting on the thread to be made available.
To get around this, user is forced t

[2022-04-27 02:45] siddhijain commented on #497
This makes sense Vinay! Feel free to create a PR for this.

[2022-04-27 03:22] siddhijain commented on #301
@MushyMiddle Thanks for bringing this up. Since many users are facing issues, we will prioritize getting this fixed.

[2022-04-27 16:56] luedi commented on #492
The "Continue" button appears right after I have authenticated myself via the Microsoft Authenticator app. Could it be that there is a misonfiguration in Azure?

[2022-04-28 06:48] Netyyyy commented on #493
Thanks for the help. so when the fixed version will be released?

[2022-04-29 01:48] dsmith270 opened #498 "IAuthenticationResult and IdToken not Serializable"
Currently there is a serious defect as the classes representing the User Principal are not serializable. The outcome of the successful authentication is stored in the HttpSession. Often HttpSession need to be replicated as with using the standard J2EE distributable tag. Currently this is not working.

It's easy to demonstrate this defect. Both IAuthenticationResult and IdToken should be marked as

[2022-04-29 02:38] siddhijain commented on #498
Thanks for raising the PR and Sorry for the delay on this. Making these classes Serializable looks good to me. I have approved the PR and merge it in. We are planning a msal release tomorrow or early next week.
Please close this once your migration is no longer blocked due to this issue.

[2022-04-29 19:41] siddhijain opened #499 "Improve logging for msal4j"
Recently, one of the 1P customers faced issue while following B2C docs and reported following things -

I have been over the ref docs https://aka.ms/msal4j-b2c-known-issues multiple times and it did not help me find the solution:
1) the docs is not clear about what scnearios the AT was not returned and there is no way for me to tell if the AT was returned without seeing some kind of http request/r

[2022-05-02 00:05] JonathanGiles commented on #428
Unless I'm misunderstanding, there still exists a version range: https://mvnrepository.com/artifact/com.nimbusds/oauth2-oidc-sdk/9.32

[2022-05-02 12:12] kimpenhaus commented on #492
I am having the same issue - also with JetBrains DataGrip which is built on top of mssql-jdbc and msal4j. Right after the login and granting permissions to the app, there ist an redirect to localhost:xxxx which is failing on my side even though there ist something listen to that port:

redirect:
<img width="1331" alt="image" src="https://user-images.githubusercontent.com/575109/166231575-f7f7a383-

[2022-05-02 16:27] charlesmln commented on #492
I have been experiencing exactly the same and discovered that this issue occurs when the Windows language is not set to English US. If I set Windows language to French, I experience exactly the same as you. If I set windows language to English US, this works. I see you are configured in German, so it is probably the same. There is a bug somewhere in the library related to the language setting of t

[2022-05-03 03:09] siddhijain commented on #428
Thanks @JonathanGiles. I misread (or mis-interpreted) that the issue got resolved after 9.27 version of oauth2-oidc-sdk.  Will fix this long overdue issue soon.

[2022-05-03 05:41] kimpenhaus commented on #492
@charlesmln man you're genious 👍🏼 changed my language to english and indeed it is working - thanks a lot!

<img width="1273" alt="image" src="https://user-images.githubusercontent.com/575109/166408918-7c7dd4fd-3460-4e43-980c-b501673a17f3.png">

<img width="578" alt="image" src="https://user-images.githubusercontent.com/575109/166408956-fc586f76-c918-43f4-832d-1029b2f955c3.png">

[2022-05-03 15:54] anumalasri opened #501 "Vulnerabilities from transitive dependencies"
Nimbus and Jackson dependencies from  'msal4j' (even latest version) have vulnerabilities.

https://mvnrepository.com/artifact/com.microsoft.azure/msal4j/1.11.3

Can we get appropriate transitive dependencies and versions ?

[2022-05-03 15:56] siddhijain commented on #501
Hello @anumalasri. Thanks for raising this. We are already looking into these issues and working on a fix. We will update you once the fix is released.

[2022-05-03 17:18] #428 closed

[2022-05-03 18:39] JonathanGiles commented on #428
Thanks! @g2vinay we can update azure-identity now?

[2022-05-03 19:18] anumalasri commented on #501
@siddhijain  .. do you have any ETA on when the fix will be available for us ??

[2022-05-03 19:34] luedi commented on #492
Same for me. If I change the Windows language to English, i can connect to the database.
@charlesmln Do you know, if an issue exists for this? I don't want to change the Windows language just for a single application. And i think this is definetly a bug which should be fixed.

[2022-05-04 13:46] JohannesPertl opened #503 "Documentation link in README.md is invalid"
This link can't be found: https://aka.ms/aaddevv2

[2022-05-04 19:19] Avery-Dunn commented on #454
Sorry for the lack of response on this, if you're still having issues with this or anything else feel free to re-open this thread or start a new one.

For anyone having this issue, 'connection reset' error messages usually are an issue with the network and not MSAL itself. One possible cause could be that you're on a corporate network and behind a proxy that is blocking/ending connections, and if

[2022-05-04 19:19] #454 closed

[2022-05-04 19:19] Avery-Dunn commented on #452
Sorry for the lack of response on this, if you're still having issues with this or anything else feel free to re-open this thread or start a new one.

For anyone having this issue, error messages about connection timeouts/resets usually are an issue with the network and not MSAL itself. One possible cause could be that you're on a corporate network and behind a proxy that is blocking/ending connec

[2022-05-04 19:19] #452 closed

[2022-05-06 15:19] siddhijain opened #508 "Support OBO for SPs with refresh tokens"
MSAL libraries should be able to support OBO for SP without changing the public API.

Acceptance Test

Get an app token (client_credentials flow) to simulate C1
Exchange this app token using OBO to simulate S2
Ensure that you get this token out of the cache (e.g. by calling the OBO flow again or by calling AcquireTokenSilent)
Expire or delete the cached access token.
Perform the refresh_token flow

[2022-05-06 19:12] Avery-Dunn commented on #472
This issue was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/489, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If the issue is still unresolved or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:12] #472 closed

[2022-05-06 19:15] Avery-Dunn commented on #442
Sorry for the delay, but this issue was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/502, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

[2022-05-06 19:15] #442 closed

[2022-05-06 19:16] Avery-Dunn commented on #501
This issue was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/502, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If the issue is still unresolved or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:16] #501 closed

[2022-05-06 19:17] Avery-Dunn commented on #498
This issue was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/491, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If the issue is still unresolved or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:17] #498 closed

[2022-05-06 19:19] Avery-Dunn commented on #503
This issue was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/504, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If the issue is still unresolved or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:19] #503 closed

[2022-05-06 19:21] Avery-Dunn commented on #492
Thanks everyone for the information about the issue/workaround involving language settings. We're working on figuring out exactly where the root cause of the issue is (in MSAL, JDBC, SQL Server, etc.) and I'll update this thread once we have more info.

[2022-05-06 19:23] Avery-Dunn commented on #423
This was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/504, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If anyone is still running into issues with regions or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:23] #423 closed

[2022-05-06 19:25] Avery-Dunn commented on #438
Sorry for the delay on this, but for anyone who needs the 'none' prompt it was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/504, and was added as part of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

[2022-05-06 19:25] #438 closed

[2022-05-06 19:26] Avery-Dunn commented on #474
Sorry for the delay on this, but these classes were made public in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/504, and this was part of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If the issue is still unresolved or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:26] #474 closed

[2022-05-06 19:30] Avery-Dunn commented on #428
@JonathanGiles @g2vinay We've released [version 1.12.0](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar) with the updated dependencies, so you should now be able to update to version 1.12 of MSAL Java to get the fixes.

[2022-05-06 19:30] Avery-Dunn commented on #493
This issue was addressed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/494, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

If the issue is still unresolved or if there are any related issues feel free to re-open this thread or open a new one.

[2022-05-06 19:30] #493 closed

[2022-05-06 19:31] Avery-Dunn commented on #429
Sorry for the long delay on this, but for anyone having this issue it was addressed as part of https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/431, and should be fixed as of the recent [1.12.0 release](https://search.maven.org/artifact/com.microsoft.azure/msal4j/1.12.0/jar).

[2022-05-06 19:31] #429 closed

[2022-05-11 22:00] levimllr commented on #436
Ditto this request. Is there a reason why refresh tokens aren't exposed currently in the library? I need to be able to read both access and refresh tokens so I can persist them (encrypted, of course) on disk. I can't depend on this library's current in-memory management of refresh tokens.

[2022-05-12 13:46] chrisbetz commented on #474
👍🏻 Thanks, @Avery-Dunn , I was successfully able to test it and now it's piece of cake to retrieve an access token using Clojure.

[2022-05-13 13:17] anumalasri commented on #501
@Avery-Dunn  ...  Some of nimbus transitive dependencies still have vulnerable versions..

com.nimbusds:nimbus-jose-jwt:9.21. (https://nvd.nist.gov/vuln/detail/CVE-2022-21449)
\--- com.nimbusds:oauth2-oidc-sdk:9.32
\--- com.microsoft.azure:msal4j:1.12.0

Can you please look into it ?

[2022-05-25 21:23] tkyc commented on #492
I was experimenting with the interactive login and possibly narrowed the issue down to the mssql-jdbc driver as the culprit. When I tested out interactive login solely with msal4j, and changing my system's language to something like German, I didn't encounter any errors. So, msal4j doesn't seem like the one to blame here as it was working for me regardless of system language. However, I managed to

[2022-05-27 21:31] Avery-Dunn commented on #492
Based on what @tkyc said and my own similar results, it seems like the root cause of the issue is probably on the mssql-jdbc side of things and not msal4j.

I've just opened an issue in the mssql-jdbc repo (https://github.com/microsoft/mssql-jdbc/issues/1839) to try to keep better track of this issue and its resolution, and am closing this one. If anyone has more info or if it seems like the probl

[2022-05-27 21:31] #492 closed

[2022-06-14 17:17] siddhijain opened #512 "Improve error handling"
Improve error logging in the stack trace when there are http errors. This is to help customers with debugging when something goes wrong which is beyond the scope of msal4j.

[2022-06-15 15:05] deBFM opened #513 "Missing error and error_description when acquiring the token interactively"
I am using the `InteractiveRequestParameters` to [acquiring the token Interactively](https://github.com/AzureAD/microsoft-authentication-library-for-java/wiki/Acquiring-Token-Interactively), which is working properly when there are no problems.

But when there are problems, like the authorization code isn´t provided to the redirect url, then the only message from the browser is:

[code]

I capture

[2022-06-17 19:36] Avery-Dunn commented on #513
Hello @deBFM : That error message with `Authentication failed. You can return to...` is just a default error message that our library originally only provided if there was no error message in the HTML response, but it looks like a couple years ago it was changed to also be the default if `systemBrowserOptions` is null.

I'm still looking into why it was changed to check `systemBrowserOptions`, but

[2022-06-20 09:58] montgolfiere opened #515 "Bump com.nimbusds.oauth2-oidc-sdk (at least to 9.35)"
Inc transitive dependencies (to ensure up-to-date for scans etc).

FYI: I've opened a PR for review: https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/514

[2022-06-20 15:06] siddhijain commented on #515
Thanks for the PR @montgolfiere So that we are aware, which scans are mentioned here?

[2022-06-20 19:06] montgolfiere commented on #515
CVSS v3 >= 7.0

Please let me know if you'd like specific CVE ref ?

[2022-06-20 20:59] siddhijain commented on #515
Yes if you could provide the specific reference, that would be great. There is nothing wrong with the PR but I want to understand the urgency since new packages are released every now and then. We try to update a version in every 6 months or so unless there is a security vulnerability with the current one in use.

[2022-06-21 11:25] montgolfiere commented on #515
For reference apparently (via Veracode) related to CVE-2022-21449.

In Veracode / SourceClear DB (at least) it is currently marked as 7.0 (CVSS v3) for transitive dependency Nimbus JOSE +JWT. It's marked as affecting com.nimbusds nimbus-jose-jwt version 9.21 and resolved in version 9.22 or higher. I've not reviewed technical details.

- https://sca.analysiscenter.veracode.com/vulnerability-databas

[2022-06-27 15:09] siddhijain opened #517 "Explore using Application verifier in msal java"
Application Verifier (AppVerifier) is a runtime verification tool for unmanaged code that assists in finding subtle programming errors, security issues and limited user account privilege problems that can be difficult to identify with normal application testing techniques.

Here is the documentations -
https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/application-verifier

[2022-06-27 17:10] Avery-Dunn opened #518 "Ensure all public APIs have updated and thorough Javadoc comments"
A number of classes and methods either have few Javadoc comments, or the existing comments are insufficient or outdated due to changes/additions to the library.

These Javadocs are very useful for auto-generating documentation and helping developers understand the library, so we should clean up any outdated comments and ensure any public APIs have thorough comments explaining how to use each featu

[2022-06-29 17:57] siddhijain opened #521 "Enable token caching for managed Identity"
Enable azure-sdk to use msal caching implementation to cache and use managed identity tokens.

[2022-06-30 16:18] siddhijain commented on #521
Included this feature in v1.13.0 release.

[2022-06-30 16:18] #521 closed

[2022-06-30 16:18] siddhijain commented on #515
Included this feature in v1.13.0 release.

[2022-06-30 16:18] #515 closed

[2022-06-30 16:18] #508 closed

[2022-06-30 16:46] Avery-Dunn commented on #492
Just an update for anyone experiencing this issue: as shown through some investigation in https://github.com/microsoft/mssql-jdbc/issues/1839, part of this problem was in the way MSAL Java handle responses, where some information was being dropped due to localization. This issue was fixed in https://github.com/AzureAD/microsoft-authentication-library-for-java/pull/511 and is in the version 1.13 re

[2022-07-01 00:48] lmame opened #522 "Error in an OSGI bundle when trying to acquire a token, "failed to create an XPathFactory.""
Hi :)

We fixed the issue, but who knows, other people might have the same problem, so please find our findings below, it might help other people.
Kudos to my colleague Devraj who found out. He will give in a comment more accurate details, as I'm just a UI developer who just plays with Java.

So long story short, we have a server running with OpenJDK 11 and OSGI.
We have a bundle that uses msl4j t

[2022-07-02 05:42] devr-b commented on #522
Thank you Laurent for mentioning me, though you have introduced me to this library and the current use case.

Laurent has covered the entire picture here. I will add the few remaining details.

The PublicClientApplication.acquireToken(UserNamePasswordParameters) method uses one of the methods below to execute the request

- CompletableFuture.supplyAsync(Supplier<U>)

- CompletableFuture.supplyAsyn

[2022-07-06 16:32] Avery-Dunn commented on #522
Hey @lmame and @devr-b , thanks for all this info! We've had a couple users report other issues when using OSGI, so I'm sure there are other users who will run into this issue.

We'll definitely get this workaround into our documentation/error messages to try to help anyone else who encounters this, and will look into adjusting our default executor setup so hopefully a workaround isn't needed.

[2022-07-20 17:52] benjaminxie opened #523 "Authentication issues trying to access POP mailbox"
I'm trying to access my Office365 Outlook mailbox. I've attempted to authenticate via two-legged OAuth as well as just basic auth. Nonetheless, I hit similar errors. In the case of OAuth
[code]
and in the case of basic auth
[code]

I'm guessing there's something simple that I'm doing incorrectly but I haven't been able to find any relevant code examples. Here is class that accesses the mailbox
[co

[2022-07-25 14:36] siddhijain commented on #523
The error seems to be occurring due to bad username and/or password. It does not look like the error is coming from the msal library though. Have you double checked the username / password in the oauth.properties file?

[2022-07-28 08:53] duponter opened #525 "Maven Warning: Required filename-based automodules detected"
### Problem
When building a project using msal4j with Maven, following warning is displayed:
[code]

This might cause problems in the future, especially when a project embraces the Java Platform Module System.

### Solution
This can be easily fixed by adding an Automatic-Module-Name: < chosen module name > entry to the MANIFEST.MF. (http://branchandbound.net/blog/java/2017/12/automatic-module-name

[2022-07-29 17:11] lilgreenbird commented on #299
hi, we're wondering if there are any updates on plans to implement this feature? we are unable to move forward to use this library for integrated authentication while it still requires a username.

thanks

[2022-07-29 17:39] Avery-Dunn commented on #299
Sorry about the delay on this, it's been sitting in our backlog for a while but we'll discuss finally picking it up and I'll give you an update when we have plan.

This is for the JDBC driver that David mentioned, right? In another comment he mentioned being on a 6 month release cadence, so just for our planning that means you'd want this feature by the end of the year (plus some time for integrat

[2022-07-29 20:41] lilgreenbird commented on #299
Yes this is for the [Microsoft JDBC Driver for SQL Server](https://github.com/microsoft/mssql-jdbc).

We're currently prepping for a GA release in the next week so the next one will be approx end of Jan as @David-Engel
 mentioned. We will need to make some changes at our end to make use of this feature so time-wise would be good if we could get this by late fall if possible. Thanks!

[2022-08-02 15:08] #525 closed

[2022-08-24 15:56] csigueros opened #529 "MSAL fails to get token from the cache when authority URL includes port."
Observed in versions 1.12.0 and 1.13.0

Using ConfidentialClientApplication with authority value set to https://login.microsoftonline.com:443/<tenantid>/ the Access Token is obtained successfully and stored in the cache.

Next request should use the same token, but it fails to find it from the cache so it sends a new request to obtain another token which replaces the first one in the cache.

If I

[2022-08-24 18:11] siddhijain commented on #529
@csigueros That looks like a bug in our library. We will prioritize fixing this and will let you know once the fix is available.

[2022-08-30 12:01] probert94 commented on #513
I am currently working with MSAL4J to replace basic authentication in an application and noticed that the error and the description are missing. The default message looks like it it expects the `error` and the `error_description` to be passed into `MessageFormat.format`.
It seems like the information is there but it is not passed into the error message (see [AuthorizationResponseHandler#L75](https

[2022-09-01 10:36] vdzhuvinov commented on #437
FYI v9.42 of the Nimbus OAuth / OIDC SDK got a fix to support iss != sub:

https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/393/allow-issuer-and-subject-in-client-jwt

[2022-09-01 13:59] siddhijain commented on #437
Thanks for letting us know @vdzhuvinov !

[2022-09-02 16:01] siddhijain opened #531 "MSAL should not perform Instance Discovery if azureRegion is set"
Some of the apps are flagged in S360 KPI for not using regional endpoints. On debugging, it was found that msal makes call to a global endpoint for instance discovery even when app specifies a region. Confirmed with .NET team that if a region is defined, instance discovery should not be done instead the method call can return

return new InstanceDiscoveryMetadataEntry()
            {

[2022-09-13 14:51] siddhijain commented on #523
Closing due to inactivity. Please reopen this or open another one if you need more assistance.

[2022-09-13 17:01] eginwong opened #532 "Polling Timeout for Login should be configurable"
Hi! Looking at [msal.js](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-common/src/client/DeviceCodeClient.ts) and msal dotnet, I noticed that they have configurable timeouts for the user to login using the browser prompt.

For our scenario, we are using Azure AD B2C. Including a first-time sign up, users can easily exceed the [hardcoded 120s timeout](https://

[2022-09-19 14:12] siddhijain commented on #531
Released the bug fix in the latest Release 1.13.1.. Closing the issue.

[2022-09-19 14:12] #531 closed

[2022-09-19 14:54] siddhijain commented on #532
Closing issue as the fix was released in version 1.13.1.

[2022-09-19 14:54] #532 closed

[2022-09-21 20:23] g2vinay opened #542 "Update the Logging Level to VERBOSE (Msal Default) for Token Caching Callback API"
Currently, ERROR levels logs are logged for Exception in Token Caching Callback API,
<img width="1398" alt="image" src="https://user-images.githubusercontent.com/5430778/191592872-09b3300f-b99e-4303-a3b6-c199db84b63a.png">

It is expected to follow the default logging level of VERBOSE as discussed with @siddhijain

[2022-09-22 14:56] jakeatmsft opened #543 "javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake - Using Talend connector"
We are seeing the following error when trying to connect to Azure Storage using a Service Principal in Talend.  The permissions have been verified in Azure to have Storage Blob Owner access.  The same connector is able to connect successfully using a SAS token, issue only occurs when using Service Principal Authentication.

See logs below:

\f0\i\fs20 \cf2 Starting job TALEND_AZURE_ADLS2_POC at 13

[2022-09-22 20:47] Avery-Dunn commented on #543
Hello @jakeatmsft : In those logs I'm seeing a lot of errors along the lines of `javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake`, which might be either be a networking issue or a permissions issue.

You mentioned that it was working with SAS tokens but not with service principles, but were you using the same environment for each? I.e., whatever server/VM/networ

[2022-09-27 20:30] Col-E opened #544 "ArtifactId in README is wrong"
From the readme:
[code]

The artifact ID is just `msal4j` as seen: https://mvnrepository.com/artifact/com.microsoft.azure/msal4j

The hyperlink above the blob in the README ought to be updated as well.

[2022-09-27 22:04] siddhijain commented on #544
Thanks for noticing. We will get this fixed.

[2022-09-28 12:56] Col-E commented on #544
#545 is a partial fix, the hyperlink above the XML is still incorrect and leads to a 404.

[2022-09-28 17:36] DidunAyodeji commented on #544
I have updated the hyperlink. Sorry about that.

[2022-09-29 23:40] Jeffery-Wasty opened #546 "[QUESTION] Are items in TokenCache case insensitive?"
A user is [proposing](https://github.com/microsoft/mssql-jdbc/pull/1923) a change for the MSSQL-JDBC driver, where retrieval from cache is case-insensitive, as opposed to case-sensitive as we have it now. My question is, are items stored in the cache also case-insensitive? Using the example the user provides, would `JohnnyCash@folsom.org` be stored as `johnnycash@folsom.org` by MSAL4J? Thanks!

[2022-10-05 04:53] #544 closed

[2022-10-05 15:24] Avery-Dunn commented on #546
Hello @Jeffery-Wasty : Items in the cache are case sensitive. MSAL Java caches data taken directly from the tokens, and when looking up cached info we just check if information provided matches what we have cached and return the exact info we got from tokens/app devs/users/etc.

So, things like usernames or emails would depend on what is in the ID token that the token service gives us. For example

[2022-10-07 17:55] Avery-Dunn commented on #543
Had some discussions elsewhere that suggested it was a permissions issue, and I haven't heard back for a while. Closing this thread, feel free to reopen and leave a comment if there are still any issues.

[2022-10-07 17:55] #543 closed

[2022-10-10 14:04] siddhijain commented on #542
This issue is fixed in Release v1.13.2. Closing the issue.

[2022-10-10 14:04] #542 closed

[2022-10-10 14:04] siddhijain commented on #546
Closing due to inactivity. Please reopen this issue for more questions.

[2022-10-10 14:04] #546 closed

[2022-10-17 21:47] lilgreenbird opened #560 "Latest 1.13.2 throws NoSuchFieldError: USE_FAST_DOUBLE_PARSER"
Our [JDBC driver](https://github.com/microsoft/mssql-jdbc) has recently upgraded to the latest v1.13.2 release as we require the latest updates to fasterxml.jackson.core:jackson-databind as component Azure Devops governance reported as a vulnerability.  However it looks like the latest has references to undefined USE_FAST_DOUBLE_PARSER.

The following is a test we have federated authentication whi

[2022-10-18 16:40] Avery-Dunn commented on #560
Hello @lilgreenbird  : What version of our library were you using before, and what version of Java are you using for your test? I'm able to run your code on my machine without issue, and all of our own federated username/password tests are working.

Was anything else changed in the driver when you updated to v1.13.2?

[2022-10-18 23:20] lilgreenbird commented on #560
we were on 1.13.0 but that got flagged by component governance as having a vulnerability. I tried 1.13.1 but that wasn't fixed so we went directly to 1.13.2.  This is only happening when we are running against a federation server the driver code hasn't changed. Here is the stack trace:

[code]
We're on java 19 now but that is not relevant this is happening on java 17 and 11 as well. This works fin

[2022-10-19 08:01] pengfan8080 commented on #560
Is this problem solved? I also encounter the same bug as the author. I don't know how to solve it.

[2022-10-19 15:27] Avery-Dunn commented on #560
@lilgreenbird : I was using Java 8 before but just tried it with Java 17 and still didn't run into that issue. When you say you "tried 1.13.1 but that wasn't fixed", does that mean you ran into this "USE_FAST_DOUBLE_PARSER" issue in 1.13.1 also?

Could you also check to make sure there isn't some cached dependency weirdness going on? I just checked [the javadocs for 2.14.0-rc1](https://javadoc.io/

[2022-10-19 19:37] lilgreenbird commented on #560
2 different things here - 1.13.1 did not fix the component governance issue that was in 1.13.0 so we upgraded to 1.13.2 which did fix the component issue but now has this USE_FAST_DOUBLE_PARSER problem.

I have updated the project the pom file and verified we are using the latest jackson-databind 2.14.0-rc1 from msal4j 1.13.2. Previous 1.13.0 version used jackson-databind 2.13.2.1 which did not ha

[2022-10-19 21:41] Avery-Dunn commented on #560
To be clear, by 'federated server' you just mean a server hooked up to some sort of federated active directory set up, right? Like ADFS or something similar? If so, that shouldn't make a difference since that convertJsonToObject is used throughout the library and not just for federated users, and that USE_FAST_DOUBLE_PARSER field isn't something we reference directly so I can't think of what our l

[2022-10-20 09:08] sergiocondeco opened #561 "java.lang.ClassCastException: java.util.Collections$SingletonList cannot be cast to java.lang.String"
Hello everyone. I'm trying to get an access token with msal. Here's my code:

ConfidentialClientApplication app = ConfidentialClientApplication.builder(
	                clientId,
	                ClientCredentialFactory.createFromSecret(secretId))
	                .authority(authority)
	                .build();

	        Set<String> scopes = new HashSet<String>();
	        scopes.add(scope);

[2022-10-20 09:23] sergiocondeco commented on #561
All stack:
java.util.concurrent.ExecutionException: java.lang.ClassCastException: java.util.Collections$SingletonList cannot be cast to java.lang.String
     [java] 	at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:357)
     [java] 	at java.util.concurrent.CompletableFuture.get(CompletableFuture.java:1908)
     [java] 	at apdp.podologia.ficha.logic.ImportacaoImagensLogic.

[2022-10-20 09:29] #561 closed, assigned to nobody

[2022-10-20 20:52] lilgreenbird commented on #560
hi @Avery-Dunn

you are correct I see where the problem is now. The issue is that MSAL only has a dependency on jackson-databind but not jackson-core so when we upgraded to msal 1.13.2 jackson-databind gets bumpbed up to 2.14.0-rc1 since it overrides the older version included by azure-security-keyvault however not jackson-core so that still references the older version
![image](https://user-image

[2022-10-21 00:00] Avery-Dunn commented on #560
This is the first time that we've had these sorts of issues where jackson-databind/jackson-core where out of sync enough to cause problems, and since we only use jackson-databind we've let jackson-core be a transient dependency.

It seems like the root cause of the issue is that jackson-databind has kind of a soft requirement for version 2.14 of jackson-core, which means that Maven grabs jackson-c

[2022-10-21 04:01] sharonchansy opened #562 "Authenticate as User Principal using Certificated-based Authentication (CBA)"
Does MSAL4j support the Azure AD certificate-based authentication method? https://learn.microsoft.com/en-us/azure/active-directory/authentication/concept-certificate-based-authentication-technical-deep-dive

I have an a back-end app currently using username + password credentials to call Graph API successfully:
[code]

However customer requires we stop using passwords or secrets, and instead switc

[2022-10-24 10:57] cristianx99 opened #564 "Acquire tokens for multiple accounts using username and password flow"
Hi,

How can be aquired auth tokens for multiple accounts using username and password flow ?

Tested [UsernamePasswordFlow.java](https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/msal4j-sdk/src/samples/public-client/UsernamePasswordFlow.java) example and work to cache and get token for only one account

First I created once PublicClientApplication and succesfully cached

[2022-10-24 17:52] Avery-Dunn commented on #564
Hello @cristianx99 : Username/password flow definitely allows you to get tokens for multiple accounts, and they should all get stored in the token cache. That UsernamePasswordFlow.java example is pretty simple and is intended just to show it being used for one user, but if you change the username/password variables in between the two  acquireTokenUsernamePassword() calls then it should get a new t

[2022-10-24 18:54] Avery-Dunn commented on #562
Hello @sharonchansy : I don't believe there are any plans to support certificated-based authentication in the same non-interactive way that the username/password flow works.

All of MSAL Java's certificate-based flows are for confidential clients, whereas the username/password flow you're using is for public clients. See [here](https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-

[2022-10-24 19:05] lilgreenbird commented on #560
thanks, in the meantime I've reverted the driver back to the old version of msal4j.

[2022-10-25 09:29] cristianx99 commented on #564
Hi @Avery-Dunn

I used the same PublicClientApplication as first call
In my application I need to acquire tokens for multiple users for the same clientId and I tried the approach where I keep a single instance for PublicClientApplication and cached accounts (IAccount) and use acquireTokenUsernamePassword() with username and password to acquire token for each user

Please see my changes below; the

[2022-10-25 20:59] Avery-Dunn commented on #564
I think I see the issue now: it seems like our username/password sample is still using a deprecated option for SilentParameters, and because of that it's showing a bad pattern for using this flow.

[This](https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/a6edfc78e0c3755b3062d9a4d280ad41670880b4/msal4j-sdk/src/main/java/com/microsoft/aad/msal4j/SilentParameters.java#L94) is

[2022-10-27 12:55] cristianx99 commented on #564
Thanks a lot @Avery-Dunn

The new approach works perfectly the accounts are cached and tokens returned properly

One last question related to username and password flow scenario with many apps (clientIds):  the library provide a solution that allow to create only one client app object (like PublicClientApplication) and used for multiple clientIds and users ?

If the MSAL library already provides a

[2022-10-27 15:53] siddhijain opened #565 "Downgrade jackson-databind version to 2.13.2.1"
We recently updated jackson-databind version to 2.14.0-rc1 to remediate security vulnerabilities in the earlier version but it is not compatible with jackson-core 2.13 version used by Azure SDK. This is creating issues for the customers using both msal java and azure sdk.
Downgrading jackson-databind version to 2.13 will resolve customers' issues.

[2022-10-27 18:38] Avery-Dunn commented on #564
There's no way to configure a single PublicClientApplication with multiple client IDs: they're designed to be pretty much a 1:1 mapping with an Azure app, and each will have it's own in-memory tokenCache where it stores tokens.

I'm pretty sure the MSALs for other languages follow this design too, it's not something unique for MSAL Java.

[2022-10-31 22:42] siddhijain commented on #565
v1.13.3 release has the fix.

[2022-10-31 22:42] #565 closed, assigned to siddhijain

[2022-11-01 15:14] Avery-Dunn commented on #560
Hello @lilgreenbird : In our recent [1.13.3](https://mvnrepository.com/artifact/com.microsoft.azure/msal4j/1.13.3) release we're now using version 2.13.4.2 of jackson-databind, which is a version that has the security fix and is compatible with other 2.13 versions of jackson-core

You should be able to upgrade to 1.13.3 of MSAL Java to solve this USE_FAST_DOUBLE_PARSER issue and the security vulne

[2022-11-01 15:14] #560 closed, assigned to Avery-Dunn

[2022-11-02 03:43] pengfan8080 commented on #560
Thank you. I solved this problem by upgrading the version. Thank you very much

[2022-11-03 09:55] deepaktiwari29 commented on #451
Hello @rsafaie ,
Can I know which msal4j jar version has these changes? As I don't see WSTrustResponse.java file's change in current source code.

[2022-11-07 12:30] shaundsmith opened #568 "MSAL returns expired idToken when accessToken still valid"
Observed in versions 1.12.0 and 1.13.3.

The idToken and accessToken have been configured by our AD administrator to have different expiration times. The idToken has the shorter expiration time. We have observed expired idTokens being returned when silently acquiring the tokens, due to the access token still being valid.

**Code Observations**
`IPublicClientApplication.acquireTokenSilently` will r

[2022-11-07 22:36] Avery-Dunn commented on #568
Hello @shaundsmith : Could you describe your scenario a bit more? Is there a reason that the ID token is configured to expire sooner than access token? If an ID token expires before the access token, then that implies you can't trust the user is who they say they are but you can trust their claims about what they have access to, and I'm not sure where that would be necessary.

[Refresh tokens](htt

[2022-11-08 15:22] leozent commented on #451
The problem still exists in version 1.13.3.
I have manually applied the changes of @rsafaie, then the error was fixed. In which version will the problem be fixed?

[2022-11-09 04:36] siddhijain commented on #451
Thanks for your comments and sorry for not being able to include the fix yet. We will plan to include this fix in our next release and will update the thread once done.

[2022-11-14 05:06] Syed-SnapLogic commented on #451
@siddhijain , can we know by when can we expect the next release as it will help us convey our customers on the ETA for the fixes we need to roll out for them?

[2022-11-14 18:15] siddhijain commented on #451
Thanks for your message @Syed-SnapLogic. Looking closely at the code changes suggested by @rsafaie, the changes can only be done from Java 9 onwards and won't work for packages built using Java 8. Since MSAL Java is built using Java 8, we won't be able to make those changes in our library. There are 2 options - 1. We find a fix for this bug using Java 8. 2. We wait for MSAL Java to be updated to u

[2022-11-15 13:47] shaundsmith commented on #568
Hi @Avery-Dunn, apologies for the delayed response. We've been trying to trace the reason behind the difference between our access and ID token expiration times, and find out who has control over this functionality in the company.

Our use case is that we're authenticating with Azure AD in order to authenticate with an internal API. This internal API takes an access token and an ID token, and exch

[2022-11-15 13:47] #568 closed, assigned to Avery-Dunn

[2022-11-15 16:32] Avery-Dunn commented on #568
Glad you got it sorted out, and thanks for the offer to tweak the docs! Feel free to make a PR, we'll review it and add it into our next release.